﻿@using Newtonsoft.Json;
@model NLM.WEB.Models.Lecturer.GroupMainViewModel


@{
    ViewBag.Title = "Группы";
    Layout = "~/Views/Shared/_LecturerAdminLayout.cshtml";
}



<!-- 2-column layout -->
<div ng-app="groupApp" ng-controller="filter" class="row row-offcanvas row-offcanvas-right">

    <!-- column 4 (sidebar) -->
    <div class="col-sm-4 col-sm-push-8 col-xs-12 col-lg-4 col-lg-push-8 col-md-4 col-md-push-8 sidebar-offcanvas" id="sidebar">
        <!--sidebar-menu-->
        <nav class="navbar navbar-default navbar-static">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#b-menu-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- submenu elements for #b-menu-2 -->
            <div class="collapse navbar-collapse" id="b-menu-2">
                <form role="form">
                    <div class="btn-group btn-group-justified btn-radio-group" data-toggle="buttons">
                        <label class="btn btn-info active" ng-click="switchToControls(mode)">
                            <input type="radio" id="groupsRadio1" name="groupsRadio" value="1" ng-click="switch(mode)"/> Контроли
                        </label>
                        <label class="btn btn-info" ng-click="switchToInfos(mode)">
                            <input type="radio" id="groupsRadio2" name="groupsRadio" value="2" ng-click="switch(mode)" /> Студенты
                        </label>
                    </div>
                </form>
            </div><!-- /.nav-collapse -->
        </nav>

        <!--/side-navbar-->

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Группы</h3>
            </div>
            <div class="panel-body">
                <form role="form" class="text-center">
                    <label for="selectField">Выберите учебный год</label>
                    <div class="row padding-sides-10">
                        <div class="input-group">
                            <select class="form-control fullwidth-input" id="selectField" ng-model="mode.CurrentYear" ng-show="loaded && Years.length > 0">
                                <option class="text-center" ng-repeat="year in Years track by year" ng-cloak>{{ year }}</option>
                            </select>
                            <select class="form-control fullwidth-input" id="selectField" ng-show="loaded && Years.length == 0">
                                <option class="text-center" ng-cloak>Пусто</option>
                            </select>
                            <select class="form-control fullwidth-input" id="selectField" ng-show="!loaded">
                                <option class="text-center"> Данные загружаются </option>
                            </select>
                            <span class="input-group-btn">
                                <button class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Фильтр" type="button" ng-click="filterGroups()">
                                    <i class="glyphicon glyphicon-search">

                                    </i>

                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>

            <div class="text-center">
                <label for="themeList">Выберите группу</label>
            </div>
            <div class="list-group fixed-list area-bordered" role="navigation" id="themeList">
                <a href="#" class="list-group-item" ng-repeat="group in Groups track by group.GroupId" id="group{{group.GroupId}}" ng-click="loadGroup(group)"
                   onclick="return false;" ng-bind="group.GroupId" ng-show="loaded && Groups.length > 0"></a>
                <a href="#" class="list-group-item" onclick="return false;" ng-show="loaded && Groups.length == 0">
                    Группы отсутствуют
                </a>
                <a href="#" class="list-group-item" onclick="return false;" ng-show="!loaded">
                    Данные загружаются
                </a>
            </div>
        </div>

    </div><!-- /column 3 (sidebar) -->
    <div class="col-xs-12 col-sm-8 col-sm-pull-4 col-md-8 col-md-pull-4 col-lg-8 col-lg-pull-4">

        <!--main-menu-->
        <nav class="navbar navbar-default navbar-static">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#b-menu-3">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- submenu elements for #b-menu-2 -->
            <div class="collapse navbar-collapse" id="b-menu-3">
                <ul class="nav navbar-nav">
                    <li ng-show="mode.Value == 'StudentControls'"> 
                        <a href="#" onclick="return false;" class="text-center"> 
                            Групповые контроли 
                        </a> 
                    </li>
                    <li ng-show="mode.Value == 'StudentInfos'">
                        <a href="#" onclick="return false;" class="text-center">
                            Студенты группы {{ CurrentGroup.GroupId }}
                        </a>
                    </li>
                </ul>
            </div><!-- /.nav-collapse -->
        </nav>

        <!-- jumbotron -->
        <div class="jumbotron my-jumbotron">
            <div class="table-responsive">
                <table class="table table-hover table=table-condensed" ng-show= "mode.Value == 'StudentInfos'">
                    <thead>
                        <tr class="success">
                            <th>ФИО студента</th>
                            <th>"Электронный адрес"</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="student in GroupStudents track by student.UserId" id="student{{student.UserId}}"
                            ng-click="choseStudent(student)" ng-show="loaded && GroupStudents.length > 0 && mode.Value == 'StudentInfos'">
                            <td>
                                <span class="badge" ng-show="student.IsCaptain" data-toggle="tooltip" title="Староста">C</span>
                                <span ng-cloak ng-bind="student.FIO"></span>
                            </td>
                            <td ng-cloak ng-bind="student.Email"></td>
                        </tr>
                        <tr ng-show="loaded && GroupStudents.length == 0">
                            <td>
                                Студенты отсутствуют
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="btn-group btn-group-justified btn-control-radio-group" data-toggle="buttons"  ng-show = "mode.Value == 'StudentControls'">
                <label class="btn btn-success active">
                    <input type="radio" id="controlsRadio1" name="controlsRadio" value="1" ng-click="loadGroupControls()"/> Мои
                </label>
                <label class="btn btn-success" ng-click="loadAllControls()">
                    <input type="radio" id="controlsRadio2" name="controlsRadio" value="2" /> Все
                </label>
            </div>
            <div class="table-responsive"  ng-show = "mode.Value == 'StudentControls'">
                <table class="table table-hover table=table-condensed">
                    <thead>
                        <tr class="success">
                            <th>Вид работы</th>
                            <th>Тип сдачи</th>
                            <th>Дата сдачи</th>
                            <th>Место сдачи</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="control in GroupControls track by control.GroupControlId" id="control{{control.GroupControlId}}"
                            ng-click="choseGroupControl(control)" ng-show="loaded && GroupControls.length > 0">
                            <td ng-cloak ng-bind="control.WorkType"></td>
                            <td ng-cloak ng-bind="control.Type"></td>
                            <td ng-cloak ng-bind="control.FormatDate"></td>
                            <td ng-cloak ng-bind="control.Place"> </td>
                        </tr>
                        <tr ng-show="loaded && GroupControls.length == 0">
                            <td>
                                Контроли в данной группе отсутствуют
                            </td>
                        </tr>
                        <tr ng-show="!loaded">
                            <td>
                                Данные загружаются
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div><!--/span-->
    <!-- modals -->
</div><!--/row-->

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-file-upload.min.js"></script>

<script src="~/Scripts/sw_scripts/Groups/Student/app.js"></script>

<script src="~/Scripts/sw_scripts/Groups/Student/Services/selectService.js"></script>
<script src="~/Scripts/sw_scripts/Groups/Student/Services/storeService.js"></script>

<script src="~/Scripts/sw_scripts/Groups/Student/Controllers/filterController.js"></script>