﻿@using Newtonsoft.Json;
@model NLM.WEB.Models.Lecturer.CourseProjectMainViewModel

@{
    ViewBag.Title = "Курсовые проекты";
    Layout = "~/Views/Shared/_LecturerAdminLayout.cshtml";
}

<span id="courseProject" class="display-none"></span>

<div ng-app="courseProjectApp" ng-controller="filter">

    <!-- 2-column layout -->
    <div class="row row-offcanvas row-offcanvas-right">

        <!-- column 3 (sidebar) -->
        <div class="col-sm-4 col-sm-push-8 col-xs-12 col-lg-4 col-lg-push-8 col-md-4 col-md-push-8 sidebar-offcanvas" id="sidebar">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Управление курсовыми</h3>
                </div>
                <div class="panel-body">
                    <form role="form" class="text-center">
                        <label for="selectField">Выберите дисциплину</label>
                        <div class="row padding-sides-10">
                            <select class="form-control fullwidth-input" id="selectField" ng-show="loaded && Disciplines.length > 0"
                                    ng-model="selectedDiscipline" ng-change="loadDisciplineInfo()" ng-options="disc as disc.Name for disc in Disciplines"></select>
                            <select class="form-control fullwidth-input" ng-show="loaded && Disciplines.length == 0">
                                <option class="text-center"> Дисциплин нет в базе </option>
                            </select>
                            <select class="form-control fullwidth-input" ng-show="!loaded">
                                <option class="text-center"> Дисциплины загружаются </option>
                            </select>
                        </div>
                    </form>
                </div>

                <div class="text-center">
                    <label for="themeList">Темы курсовых</label>
                </div>
                <div class="list-group fixed-list area-bordered" id="projectContainer" role="navigation">

                    <a href="#" class="list-group-item text-center project-header" ng-repeat="proj in CourseProjects" ng-show="loaded && CourseProjects.length > 0"
                       ng-click="selectProject(proj);" onclick="return false;" id="project{{proj.CourseProjectId}}">
                        <span ng-bind="proj.Theme"></span>

                        <p class="glyphicon glyphicon-chevron-down pos-right" ng-click="displayInfo(proj)" onclick="displayInfo()" data-toggle="tooltip"
                           data-placement="bottom" title="Подробнее о теме" data-container="body">

                        </p>
                    </a>
                    <a href="#" class="list-group-item text-center" ng-show="loaded && CourseProjects.length == 0" onclick="return false;">Пусто</a>
                    <a href="#" class="list-group-item text-center" ng-show="!loaded" onclick="return false;">Загрузка</a>
                </div>

                <div class="list-group fixed-list area-bordered max-height-110" role="navigation" id="themeInfo">
                    <div>
                        <header class="project-header">

                            <div class="text-center content-padding">
                                <div class="pull-left no-padding">
                                    <button class="btn btn-link btn-xs" data-toggle="tooltip" data-placement="bottom" title="Скрыть подробности"
                                            type="button" ng-click="displayList()">
                                        <p class="glyphicon glyphicon-chevron-up"></p>
                                    </button>
                                </div>
                                {{ Project.Theme }}
                            </div>
                            <div class="clearfix"></div>
                        </header>
                        <main>
                            <p class="text-center"> <i class="text-info"> Описание: </i> <span ng-bind="Project.Description"></span>  </p>
                            <p class="text-center"> <i class="text-info"> Тип: </i> <span ng-bind="Project.Type"></span> </p>
                        </main>
                    </div>
                </div>

                <div class="form-group text-center aside-toolbar-form" ng-controller="courseProjectInit">
                    <div class="aside-toolbar">
                        <button class="btn btn-info" ng-click="addProjectTheme()" data-toggle="tooltip"
                                ng-class="Disciplines == undefined || Disciplines.length == 0 ? 'disabled' : ''" title="Добавить тему" data-placement="bottom">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                        <button class="btn btn-info" ng-click="deleteProjectTheme()" data-toggle="tooltip"
                                ng-class="Disciplines.length == 0 || currentProject == null ? 'disabled' : ''" title="Удалить тему" data-placement="bottom">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                        <button class="btn btn-info" ng-click="editProjectTheme()" data-toggle="tooltip"
                                ng-class="Disciplines.length == 0 || currentProject == null ? 'disabled' : ''" title="Редактировать тему" data-placement="bottom">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div><!-- /column 3 (sidebar) -->
        <div class="col-xs-12 col-sm-8 col-sm-pull-4 col-md-8 col-md-pull-4 col-lg-8 col-lg-pull-4">
            <!--second navbar-->
            <!-- second menu bar -->
            <nav class="navbar navbar-default navbar-static">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#b-menu-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- submenu elements for #b-menu-2 -->
                <div class="collapse navbar-collapse" id="b-menu-2">
                    <ul class="nav navbar-nav" ng-controller="consolidation">
                        <li><a class="default-cursor" onclick="return false;">Закрепления: </a></li>
                        <li ng-click="openCreateModal()" onclick="return false;">
                            <a href="#" ng-class="CourseProjects.length == 0 || currentProject == undefined || selectedGroup == undefined ? 'a-disabled' : ''">
                                <span class="glyphicon glyphicon-plus"></span> Добавить
                            </a>
                        </li>
                        <li ng-click="openConfirmDialog()" onclick="return false;">
                            <a href="#" ng-class="CourseProjects.length == 0 || selectedConsolidation == undefined || selectedGroup == undefined ? 'a-disabled' : ''">
                                <span class="glyphicon glyphicon-remove"></span> Удалить
                            </a>
                        </li>
                        <li ng-click="openEditModal()" onclick="return false;">
                            <a href="#" ng-class="CourseProjects.length == 0 || selectedConsolidation == undefined || selectedGroup == undefined ? 'a-disabled' : ''">
                                <span class="glyphicon glyphicon-check"></span> Оценить
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span> {{ displayYear }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li ng-show="selectedDiscipline == undefined"> Выберите дисциплину </li>
                                <li ng-repeat="year in Years"> <a href="#" ng-click="selectYear(year)" onclick="return false;">{{ year }}</a> </li>
                                <li ng-show="Years.length == 0 && selectedDiscipline != undefined">Нет привязок даной дисцилины к годам</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span> {{ displayGroup }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li ng-show="selectedDiscipline == undefined"> Выберите дисциплину </li>
                                <li ng-show="selectedYear != undefined && Groups.length == 0 && selectedDiscipline != undefined"> <a href="#" onclick="return false;"> В учебном году нет групп </a> </li>
                                <li ng-show="selectedYear == undefined && Years.length > 0 && selectedDiscipline != undefined "> <a href="#" onclick="return false;">  Выберите год </a> </li>
                                <li ng-show="Years.length == 0 && selectedDiscipline != undefined">Нет привязок даной дисцилины к годам</li>
                                <li ng-repeat="group in Groups"> <a href="#" ng-click="selectGroup(group)" onclick="return false;">{{ group }}</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.nav-collapse -->
            </nav>

            <!-- jumbotron -->
            <div class="jumbotron my-jumbotron">
                <div class="table-responsive">
                    <table class="table table-hover table=table-condensed ">
                        <thead>
                            <tr class="success">
                                <th>ФИО студента</th>
                                <th>Группа</th>
                                <th>Дата закрепления</th>
                                <th>Дата сдачи</th>
                                <th>Оценка</th>
                            </tr>
                        </thead>
                        <tbody data-original-title="Выберите закрепление для того чтобы увидеть тему проекта" data-container="body" data-toggle="tooltip" data-placement="bottom"
                               title="" ng-show="loaded && Consolidations.length > 0">
                            <tr ng-repeat="consolidation in Consolidations" id="{{ consolidation.ConsolidationId }}"
                                ng-click="selectConsolidation(consolidation)">
                                <td ng-bind="consolidation.FIO" title="Выберите закрепление для того чтобы увидить тему проекта"></td>
                                <td ng-bind="consolidation.GroupNum"></td>
                                <td ng-bind="consolidation.ConsolidationDate.toLocaleDateString()"></td>
                                <td ng-bind="consolidation.PassDate.toLocaleDateString()"></td>
                                <td ng-bind="consolidation.Mark"></td>
                            </tr>
                            <tr ng-show="!loaded">
                                <td colspan="5" class="text-center">
                                    Загрузка данных
                                </td>
                            </tr>

                        </tbody>
                        <tbody ng-show="loaded && Consolidations.length == 0">
                            <tr>
                                <td colspan="5" class="text-center">
                                    Закрепления отсутствуют
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/span-->
    </div><!--/row-->
    <div ng-controller="message">
        <div class="modal fade" id="MessageDialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center" ng-bind="Message.Title"></h4>
                    </div>
                    <div class="modal-body text-center">
                        <p class="text-center" ng-bind="Message.Body"></p>
                    </div>
                    <footer class="modal-footer">
                        <input data-dismiss="modal" type="button" ng-click="hide()" class="btn btn-default modal-btn" id="response-ok" value="Ок">
                    </footer>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ConfirmDeleteDialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center" ng-bind="DeleteMessage"></h4>
                    </div>
                    <div class="modal-body text-center">
                        <h4>Вы действительно хотите выполнить указанное действие?</h4>
                    </div>
                    <footer class="modal-footer margin-top-5">
                        <div class="right-buttons">
                            <button type="button" ng-click="confirm()" class="btn btn-success right-button modal-btn"> Удалить </button>
                            <button type="button" ng-click="hideConfirmDialog()" class="btn btn-danger right-button modal-btn" id="del-cancel"> Отмена </button>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    <div ng-controller="consolidationModal">
        <div class="modal fade" role="dialog" id="createConsolidationModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Закрепить выбранную тему за студентом в <span ng-bind="Year"></span> учебном году</h4>
                    </div>

                    <div class="modal-body modal-body-paddings">
                        <form role="form" class="form-horizontal" ng-submit="createConsolidation()">
                            <div class="form-group text-center">
                                <label for="createConsolidationGroupSelect" class="modal-label">Группа</label>
                                <select class="form-control input-center" ng-options="group as group for group in Groups"
                                        ng-change="loadGroupInfo()" ng-model="createdConsolidation.Group" id="createConsolidationGroupSelect">
                                    <option value="" selected>-------------- Выберите группу --------------</option>
                                </select>
                                <label for="createConsolidationStudentSelect" class="modal-label">ФИО студента</label>
                                <select class="form-control input-center" ng-model="createdConsolidation.Student"
                                        id="createConsolidationStudentSelect" ng-options="student as student.FIO for student in Students">
                                    <option value="" selected>-------------- Выберите студента --------------</option>
                                </select>
                            </div>
                            <input type="submit" class="hidden" />
                        </form>
                    </div>
                    <div class="modal-footer margin-top-5">
                        <div class="pull-right right-buttons">
                            <button type="button" class="btn btn-success modal-btn right-button" ng-click="createConsolidation()"
                                    ng-class="createdConsolidation.Student == null ? 'disabled' : ''">
                                Закрепить
                            </button>
                            <button type="button" class="btn btn-danger right-button modal-btn" ng-click="cancel()"> Отмена </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editConsolidationModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Оценить выбранное закрепление</h4>
                    </div>

                    <div class="modal-body modal-body-paddings">
                        <form role="form" class="form-horizontal" id="editConsForm" ng-submit="editConsolidation()">
                            <div class="form-group text-center">
                                <label class="modal-label" for="EditPassDate">Дата сдачи</label>
                                <input type="date" class="form-control input-center" placeholder="Введите дату сдачи: dd.mm.yyyy" ng-model="editedConsolidation.PassDate" id="EditPassDate" />
                                <label class="modal-label" for="EditMark">Итоговая оценка</label>
                                <input type="number" class="form-control input-center" placeholder="Введите оценку"
                                       ng-model="editedConsolidation.Mark" id="EditMark" min="0" max="100" />
                            </div>

                            <input type="submit" class="hidden" />
                        </form>
                    </div>
                    <div class="modal-footer margin-top-5">
                        <div class="pull-right right-buttons">
                            <button type="button" class="btn btn-success modal-btn right-button" id="edit-con" ng-click="editConsolidation()"> Редактировать </button>
                            <button type="button" class="btn btn-danger modal-btn right-button" ng-click="cancel()"> Отмена </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-controller="courseProjectModal">
        <div class="modal fade" id="createCourseProjectDialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Добавление темы курсового проекта</h4>
                    </div>
                    <div class="modal-body modal-body-paddings">
                        <form role="form" class="form-horizontal" id="createProjectForm" ng-submit="createCourseProject()">
                            <div class="form-group text-center">
                                <label class="modal-label">Тема проекта</label>
                                <input id="theme-cp" type="text" class="form-control input-center" ng-model="createdCourseProject.Theme"
                                       placeholder="Введите тему проекта" required="required" />
                                <label class="modal-label">Описание проекта</label>
                                <textarea ng-model="createdCourseProject.Description" class="form-control input-center"
                                          placeholder="Введите описание проекта" required="required"></textarea>
                                <label class="modal-label">Тип проекта</label>
                                <div class="form-group">
                                    <label class="radio-inline">
                                        <input type="radio" name="radio" ng-model="createdCourseProject.Type" value="true" required checked> Одиночный
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="radio" ng-model="createdCourseProject.Type" value="false" required> Групповой
                                    </label>
                                </div>
                            </div>

                            <input type="submit" class="hidden" />

                        </form>

                    </div>

                    <div class="modal-footer margin-top-5">
                        <div class="pull-right right-buttons">
                            <button type="button" class="btn btn-success modal-btn right-button" ng-click="createCourseProject()"> Создать </button>
                            <button type="button" class="btn btn-danger modal-btn right-button" ng-click="cancel()"> Отмена </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editCourseProjectDialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Редактирование темы курсового проекта</h4>
                    </div>
                    <div class="modal-body modal-body-paddings">
                        <form role="form" class="form-horizontal" id="editProjectForm" ng-submit="editCourseProject()">
                            <div class="form-group text-center">
                                <label class="modal-label">Тема курсового проекта</label>
                                <input type="text" class="form-control input-center" ng-model="editedCourseProject.Theme"
                                       placeholder="Введите новую тему проекта" required="required" />
                                <label class="modal-label">Описание курсового проекта</label>
                                <textarea ng-model="editedCourseProject.Description" class="form-control input-center"
                                          placeholder="Введите новое темы" required="required"></textarea>
                                <label class="modal-label">Тип проекта</label>
                                <div class="form-group">
                                    <label class="radio-inline">
                                        <input type="radio" name="radio" ng-model="editedCourseProject.Type" value="true" required checked> Одиночный
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="radio" ng-model="editedCourseProject.Type" value="false" required> Групповой
                                    </label>
                                </div>
                            </div>
                            <input type="submit" class="hidden" />
                        </form>

                    </div>

                    <div class="modal-footer margin-top-5">
                        <div class="pull-right right-buttons">
                            <button id="edit-cp-btn" type="button" class="btn btn-success modal-btn right-button" ng-click="editCourseProject()"> Редактировать </button>
                            <button type="button" class="btn btn-danger modal-btn right-button" ng-click="cancel()"> Отмена </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-animate.min.js"></script>

<script src="~/Scripts/sw_scripts/Course_Project/Admin/app.js"></script>

<script src="~/Scripts/sw_scripts/Course_Project/Admin/Services/selectService.js"></script>
<script src="~/Scripts/sw_scripts/Course_Project/Admin/Services/storeService.js"></script>
<script src="~/Scripts/sw_scripts/Course_Project/Admin/Services/communicationService.js"></script>
<script src="~/Scripts/sw_scripts/Course_Project/Admin/Services/dataStorageService.js"></script>

<script src="~/Scripts/sw_scripts/Course_Project/Admin/Controllers/FilterController.js"></script>
<script src="~/Scripts/sw_scripts/Course_Project/Admin/Controllers/ConsolidationController.js"></script>
<script src="~/Scripts/sw_scripts/Course_Project/Admin/Controllers/MessageController.js"></script>
<script src="~/Scripts/sw_scripts/Course_Project/Admin/Controllers/CourseProjectController.js"></script>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/sw_scripts/Course_Project/animate.js"></script>

<!-- focuses and tooltips-->
<script src="~/Scripts/sw_scripts/Course_Project/Admin/focuses.js"></script>
<script src="~/Scripts/pv_scripts/tooltipsActivation.js"></script>