﻿@{
    ViewBag.Title = "Дисциплины";
    Layout = "~/Views/Shared/_LecturerAdminLayout.cshtml";
}

@*<script>
        window.discModel = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model))');
    </script>*@

@Styles.Render("~/Content/oi")

<!-- 2-column layout -->
<div ng-app="disciplinesApp" ng-controller="disciplineMainController">
    <div class="row">

        <!-- column 4 -->
        <div class="col-sm-4 col-xs-12 col-lg-4 col-md-4 sidebar-offcanvas">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Дисциплина 
                        <button class="btn btn-link btn-xs pull-right" data-toggle="popover" data-trigger ="focus" title="Дисциплины" data-content="В этой секции представлены все дисциплины, присутствующие на сайте" data-placement="bottom">
                            <span class="glyphicon glyphicon-question-sign">
                            </span>
                        </button>
                        <span class="clearfix">
                        </span>
                    </h3>
                </div>
                <div class="list-group fixed-list area-bordered" role="navigation" id="disc-list">
                    <h4 class="text-info text-center" ng-show="!ready">Подождите... Данные загружаются...</h4>
                    <h4 class="text-warning text-center" ng-show="model.Disciplines.length == 0" ng-cloak>Отсутствуют дисциплины</h4>
                    <div ng-show="model.Disciplines.length > 0">
                        <discipline ng-repeat="discipline in model.Disciplines track by discipline.DisciplineId" discipline="discipline"></discipline>
                    </div>
                </div>

                <div class="form-group text-center aside-toolbar-form">
                    <div class="aside-toolbar">
                        <button class="btn btn-info" id="disc-create-btn" data-toggle="tooltip" title="Добавить дисциплину" data-placement="bottom" ng-click="addModal()"><i class="glyphicon glyphicon-plus"></i></button>
                        <button class="btn btn-warning" id="disc-del-btn" data-toggle="tooltip" title="Удалить дисциплину" data-placement="bottom" ng-click="delModal()" ng-disabled="currentDiscipline.body == null"><i class="glyphicon glyphicon-remove"></i></button>
                        <button class="btn btn-info" id="disc-ed-btn" data-toggle="tooltip" title="Переименовать дисциплину" data-placement="bottom" ng-click="editDiscClick()" ng-disabled="currentDiscipline.body == null"><i class="glyphicon glyphicon-pencil"></i></button>
                    </div>
                </div>
            </div>
        </div><!-- /column 4 -->

        <div class="col-sm-4 col-xs-12 col-lg-4 col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">
                        Года и семестры
                        <button class="btn btn-link btn-xs pull-right" data-toggle="popover" data-trigger="focus" title="Привязки к годам и семетрам" data-content="В этой секции представлены привязки выбранной дисциплины к годам и семестрам, а также лекторы, назначенные на эти привязки." data-placement="bottom">
                            <span class="glyphicon glyphicon-question-sign">
                            </span>
                        </button>
                        <span class="clearfix">
                        </span>
                    </h3>
                </div>
                <div class="list-group fixed-list area-bordered" role="navigation" id="disc-list">
                    <h4 class="text-info text-center" ng-show="!ready">Подождите... Данные загружаются...</h4>
                    <h4 class="text-warning text-center" ng-show="model.Disicplines.length == 0" ng-cloak>Отсутсвуют дисциплины</h4>

                    <h4 class="text-center text-warning" ng-cloak ng-show="currentDiscipline.body != null && (model.DFYs[currentDiscipline.body.DisciplineId] == undefined || model.DFYs[currentDiscipline.body.DisciplineId].length == 0)">Отсутствуют привязки к годам и семестрам по выбранной Вами дисциплине</h4>

                    <h4 class="text-center text-info" ng-cloak ng-show="currentDiscipline.body == null && model.Disciplines.length>0">Выберите дисциплину</h4>
                    <div ng-show="model.DFYs[currentDiscipline.body.DisciplineId].length > 0">
                        <dfy ng-repeat="dfy in model.DFYs[currentDiscipline.body.DisciplineId] track by dfy.DFYId" dfy="dfy"></dfy>
                    </div>
                </div>

                <div class="form-group text-center aside-toolbar-form">
                    <div class="aside-toolbar">
                        <button class="btn btn-info" id="disc-create-btn" data-toggle="tooltip" title="Добавить привязку" data-placement="bottom" ng-click="addDFYModal()"><i class="glyphicon glyphicon-plus"></i></button>
                        <button class="btn btn-warning" id="disc-del-btn" data-toggle="tooltip" title="Удалить привязку" data-placement="bottom" ng-click="delDFYModal()" ng-disabled="currentDFY.body == null"><i class="glyphicon glyphicon-remove"></i></button>
                        <button class="btn btn-info" id="disc-ed-btn" data-toggle="tooltip" title="Редактировать привязку" data-placement="bottom" ng-click="editDFYClick()" ng-disabled="currentDFY.body == null"><i class="glyphicon glyphicon-pencil"></i></button>
                        <button class="btn btn-success" id="disc-con-btn" data-toggle="tooltip" title="Продлить привязку" data-placement="bottom" ng-click="continueDFYClick()" ng-disabled="currentDFY.body == null"><i class="glyphicon glyphicon-road"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- column 4 -->
        <div class="col-sm-4 col-xs-12 col-lg-4 col-md-4 sidebar-offcanvas" id="sidebar">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">К/Т 
                        <button class="btn btn-link btn-xs pull-right" data-toggle="popover" data-trigger ="focus" title="К/т" data-content="Контрольные точки по выбранной дисциплине за год" data-placement="bottom">
                            <span class="glyphicon glyphicon-question-sign">
                            </span>
                        </button>
                        <span class="clearfix">
                        </span>
                    </h3>
                </div>
                <div class="list-group fixed-list area-bordered" role="navigation" id="CP-list">
                    @*@foreach (var kt in Model.ControlPoints)
                        {*@
                    <h4 class="text-info text-center" ng-show="!ready">Подождите... Данные загружаются...</h4>
                    <h4 class="text-warning text-center" ng-show="model.Disciplines.length == 0" ng-cloak>Отсутствуют дисциплины</h4>

                    <h4 class="text-warning text-center" ng-cloak ng-show="currentDFY.body != null && (model.ControlPoints[currentDFY.body.DFYId] == undefined || model.ControlPoints[currentDFY.body.DFYId].length == 0)">Отсутствуют контрольные точки по выбранной привязке к году и семестру</h4>

                    <h4 class="text-center text-info" ng-cloak ng-show="ready && currentDFY.body == null && model.Disciplines.length > 0">Выберите привязку к году и семестру</h4>

                    <div ng-show="model.ControlPoints[currentDFY.body.DFYId] != undefined && model.ControlPoints[currentDFY.body.DFYId].length > 0">
                        <cp ng-repeat="cp in model.ControlPoints[currentDFY.body.DFYId] track by cp.ControlPointId" cp="cp"></cp>
                    </div>
                </div>

                <div class="form-group text-center aside-toolbar-form">
                    <div class="aside-toolbar">
                        <button class="btn btn-info" data-toggle="tooltip" title="Добавить к/т" data-placement="bottom" ng-click="addCPModal()" ng-class="currentDFY.body == null ? 'disabled' : ''"><i class="glyphicon glyphicon-plus"></i></button>
                        <button class="btn btn-warning" data-toggle="tooltip" title="Удалить к/т" data-placement="bottom" ng-click="delCPModal()" ng-class="currentCP.body == null ? 'disabled' : ''"><i class="glyphicon glyphicon-remove"></i></button>
                        <button class="btn btn-info" data-toggle="tooltip" title="Редактировать к/т" data-placement="bottom" ng-click="editCPClick()" ng-class="currentCP.body == null ? 'disabled' : ''"><i class="glyphicon glyphicon-pencil"></i></button>
                    </div>
                </div>
            </div>

        </div><!-- /column 4 -->
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="bs-callout bs-callout-info">
                <div class="material-header">
                    <h3 class="float-left">Виды работы и материалы</h3>
                    <button class="btn btn-link pull-right" data-toggle="popover" data-trigger ="focus" title="Виды работ и материалы" data-content="Виды работ представляют собой каркас дисциплины. По существующим видам работ лектор может создать контроли групп на странице Группы -> Контроли. Также здесь можно привязывать материалы к существующим видам работ." data-placement="bottom">
                        <span class="glyphicon glyphicon-question-sign">
                        </span>
                    </button>
                    <button class="btn btn-info float-right" data-toggle="tooltip" data-placement="bottom" title="Добавить вид работы" ng-class="currentCP.body == null ? 'disabled' : ''" ng-click="addWorkTypeModal()"><i class="glyphicon glyphicon-plus"></i></button>
                    <div class="clear-both"></div>
                </div>
                <div class="panel-group" id="accordion">

                    @*@foreach (var material in Model.WorkTypeMaterials)
                        {*@
                    <h4 class="text-info text-center" ng-show="!ready">Подождите... Данные загружаются...</h4>
                    <h4 class="text-warning text-center" ng-show="model.Disciplines.length == 0" ng-cloak>Отсутствуют читаемые и прослушиваемые Вами дисциплины</h4>

                    <h4 ng-cloak ng-show="ready && currentCP.body == null" class="text-warning text-center">Выберите контрольную точку</h4>

                    <h4 ng-cloak ng-show="ready && currentCP.body != null && (model.WorkTypes[currentCP.body.ControlPointId] == undefined || model.WorkTypes[currentCP.body.ControlPointId].length == 0)" class="text-warning text-center">Отсутствуют виды работ по выбранной К/Т</h4>

                    <h4 ng-cloak class="text-center text-info" ng-show="ready && currentCP.body == null  && model.ControlPoints[currentDiscipline.body.DFYId] != undefined && model.ControlPoints[currentDiscipline.body.DFYId].length>0">Выберите контрольную точку</h4>

                    <div ng-show="ready && model.WorkTypes[currentCP.body.ControlPointId] != undefined && model.WorkTypes[currentCP.body.ControlPointId].length > 0">
                        <work-type ng-repeat="workType in model.WorkTypes[currentCP.body.ControlPointId] track by workType.WorkTypeId" work-type="workType" model="model"></work-type>
                    </div>
                    @*}*@
                </div>
            </div>
        </div>

    </div>

    <!-- Modals -->
    <!-- discipline modals -->
    <!--add-modal-->
    <div ng-controller="disciplineSubController">
        <div class="modal fade" role="dialog" id="disc-add-modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Добавление дисциплины</h4>
                    </div>
                    <div class="modal-body modal-body-paddings">
                        <form role="form" name="addForm" method="POST" ng-submit="create($event)">
                            <div class="form-group text-center">
                                <label for="add-disc" class="modal-label">Название дисциплины </label>
                                <input ng-model="newDisc.Name" required pattern="\S+(\s\S+){0,}" title="Введите название дисциплины" class="form-control input-center placeholder-default" type="text" id="add-disc" name="LitName" placeholder="Название дисциплины" />
                                <label class="modal-label">Является курсовым проектом: </label>
                                <div class="form-group">
                                    <label class="radio-inline">
                                        <input type="radio" name="radio" ng-model="newDisc.IsCourseProject" value="true" required checked> Да
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="radio" ng-model="newDisc.IsCourseProject" value="false" required> Нет
                                    </label>
                                </div>
                            </div>

                            <div class="modal-footer margin-top-5">
                                <div class="pull-right right-buttons">
                                    <button class="btn btn-success right-button modal-btn" type="submit">
                                        Создать
                                    </button>
                                    <button data-dismiss="modal" class="btn btn-danger right-button modal-btn">
                                        Отмена
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--delete-modal-->
        <div class="modal fade" id="disc-del-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Удаление дисциплины</h4>
                    </div>
                    <div class="modal-body text-center">
                        <h4>Вы действительно хотите удалить выбранную дисциплину?</h4>
                    </div>
                    <footer class="modal-footer margin-top-5">
                        <div class="right-buttons">
                            <button class="btn btn-danger right-button modal-btn" ng-click="delete()" id="del-ok-btn" type="button">
                                Удалить
                            </button>
                            <button data-dismiss="modal" class="btn btn-primary right-button modal-btn" id="del-cancel-btn">
                                Отмена
                            </button>
                        </div>
                    </footer>
                </div>
            </div>
        </div>


        <!--edit-modal-->
        <div class="modal fade" role="dialog" id="disc-edit-modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Редактирование дисциплины</h4>
                    </div>
                    <div class="modal-body modal-body-paddings">
                        <form role="form" name="editForm" class="form-horizontal" ng-submit="edit($event)">
                            <div class="form-group text-center">
                                <label for="edit-disc" class="modal-label">Название дисциплины</label>
                                <input required pattern="\S+(\s\S+){0,}" title="Введите новое название дисциплины" class="form-control input-center placeholder-default" type="text" id="edit-disc" name="Name" ng-model="editDisc.Name" placeholder="Новое название дисциплины" />
                            </div>
                            <div class="modal-footer margin-top-5">
                                <div class="pull-right right-buttons">
                                    <button class="btn btn-success right-button modal-btn" id="edit-btn" type="submit">
                                        Сохранить
                                    </button>
                                    <button data-dismiss="modal" class="btn btn-danger right-button modal-btn" id="edit-cancel-btn">
                                        Отмена
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- dfy modals-->
    <div ng-controller="dfySubController">
        <div class="modal fade" role="dialog" id="dfy-add-modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Привязка дисциплины к году и семестру</h4>
                    </div>
                    <div class="modal-body modal-body-paddings">
                        <form role="form" name="addDFYForm" method="POST" ng-submit="create($event)">
                            <div class="form-group text-center">
                                <label for="dfy-year" class="modal-label">Учебный год</label>
                                <select id="dfy-year" class="form-control input-center" ng-model="newDFY.year" ng-options="year for year in editYears" placeholder="Введите учебный год: yyyy-yyyy" required>
                                    <option value="" selected>----------- Выберите учебный год -----------</option>
                                </select>
                                <label for="dfy-semester" class="modal-label">Семестр</label>
                                <input id="dfy-semester" min="1" max="3" class="form-control input-center" type="number" ng-model="newDFY.semester" placeholder="Укажите семестр" required />
                                <label for="lect-list" class="modal-label">Лекторы</label>
                                <oi-select ng-model="newDFY.lecturers" oi-options="lecturer.Id as lecturer.FIO for lecturer in lecturers track by lecturer.Id" required multiple id="lect-list" class="input-center" style="max-width:280px;" placeholder="Назначьте лекторов">
                                </oi-select>
                                <label for="lect-list" class="modal-label">Ассистенты</label>
                                <oi-select ng-model="newDFY.assistants" oi-options="lecturer.Id as lecturer.FIO for lecturer in lecturers track by lecturer.Id" required multiple id="lect-list" class="input-center" style="max-width:280px;" placeholder="Назначьте ассистентов">
                                </oi-select>
                            </div>

                            <div class="modal-footer margin-top-5">
                                <div class="pull-right right-buttons">
                                    <button class="btn btn-success right-button modal-btn" type="submit">
                                        Создать
                                    </button>
                                    <button data-dismiss="modal" class="btn btn-danger right-button modal-btn">
                                        Отмена
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--delete-modal-->
        <div class="modal fade" id="dfy-del-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Удаление привязки</h4>
                    </div>
                    <div class="modal-body text-center">
                        <h4>Вы действительно хотите удалить выбранную привязку и всю связанную с ней информацию?</h4>
                    </div>
                    <footer class="modal-footer margin-top-5">
                        <div class="right-buttons">
                            <button class="btn btn-danger right-button modal-btn" ng-click="delete()" id="del-ok-btn" type="button">
                                Удалить
                            </button>
                            <button data-dismiss="modal" class="btn btn-primary right-button modal-btn" id="del-dfy-cancel-btn">
                                Отмена
                            </button>
                        </div>
                    </footer>
                </div>
            </div>
        </div>

        <div class="modal fade" role="dialog" id="dfy-edit-modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Редактирование привязки к году и семестру</h4>
                    </div>
                    <div class="modal-body modal-body-paddings">
                        <form role="form" name="addPartForm" method="POST" ng-submit="edit($event)">
                            <div class="form-group text-center">
                                <label for="part-year" class="modal-label">Учебный год</label>
                                <select id="part-year" class="form-control input-center" ng-model="editDfy.Year" ng-options="year for year in editYears" placeholder="Введите учебный год: yyyy-yyyy" required>
                                    <option value="" selected>----------- Выберите учебный год -----------</option>
                                </select>
                                <label for="part-semester" class="modal-label">Семестр</label>
                                <input id="part-semester" min="1" max="3" class="form-control input-center" type="number" ng-model="editDfy.Semester" placeholder="Укажите семестр" required />
                                <label for="lect-list" class="modal-label">Лекторы</label>
                                    <oi-select required ng-model="editDfy.Lecturers" oi-options="lecturer.Id as lecturer.FIO for lecturer in lecturers track by lecturer.Id" multiple id="edit-lect-list" style="max-width: 280px;" class="input-center">
                                </oi-select>
                                <label for="lect-list" class="modal-label">Ассистенты</label>
                                    <oi-select ng-model="editDfy.Assistants" oi-options="lecturer.Id as lecturer.FIO for lecturer in lecturers track by lecturer.Id" multiple id="lect-list" class="input-center" style="max-width:280px;" placeholder="Назначьте ассистентов">
                                </oi-select>
                            </div>

                            <div class="modal-footer margin-top-5">
                                <div class="pull-right right-buttons">
                                    <button class="btn btn-success right-button modal-btn" type="submit" id="edit-dfy-save">
                                        Сохранить
                                    </button>
                                    <button data-dismiss="modal" class="btn btn-danger right-button modal-btn">
                                        Отмена
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" role="dialog" id="dfy-continue-modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Продление привязки к году и семестру</h4>
                    </div>
                    <div class="modal-body modal-body-paddings">
                        <form role="form" name="addPartForm" method="POST" ng-submit="continue($event)">
                            <div class="form-group text-center">
                                <label for="con-year" class="modal-label">Учебный год</label>
                                <select id="con-year" class="form-control input-center" ng-model="conDFY.Year" ng-options="year for year in prolongYears" placeholder="Введите учебный год: yyyy-yyyy" required>
                                    <option value="" selected>----------- Выберите учебный год -----------</option>
                                </select>
                                <label for="con-semester" class="modal-label">Семестр</label>
                                <input id="con-semester" min="1" max="3" class="form-control input-center" type="number" ng-model="conDFY.Semester" placeholder="Укажите семестр" required />
                            </div>

                            <div class="modal-footer margin-top-5">
                                <div class="pull-right right-buttons">
                                    <button class="btn btn-success right-button modal-btn" type="submit">
                                        Продлить
                                    </button>
                                    <button data-dismiss="modal" class="btn btn-danger right-button modal-btn">
                                        Отмена
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- cp modals -->
    <!--add-modal-->
    <div ng-controller="cpSubController">
        <div class="modal fade" role="dialog" id="cp-add-modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Добавление контрольной точки</h4>
                    </div>
                    <div class="modal-body modal-body-paddings">
                        <form role="form" name="addForm" method="POST" ng-submit="create($event)">
                            <div class="form-group text-center">
                                <label for="cp-number" class="modal-label">Номер контрольной точки</label>
                                <input id="cp-number" min="1" max="4" placeholder="Укажите номер к/т" class="form-control input-center" type="number" ng-model="newCP.Number" required />
                                <label for="cp-name" class="modal-label">Название к/т</label>
                                <input id="cp-name" placeholder="Введите название к/т" class="form-control input-center" type="text" ng-model="newCP.Name" required />
                                <label for="cp-date" class="modal-label">Дата сдачи</label>
                                <input id="cp-date" placeholder="Укажите дату сдачи к/т: yyyy-MM-dd" class="form-control input-center" type="date" max="2400-01-01" min="1990-01-01" ng-model="newCP.Date" required />
                                <label for="cp-min" min="0" class="modal-label">Минимальный балл</label>
                                <input id="cp-min" placeholder="Укажите минимальный балл" class="form-control input-center" type="number" min="0" ng-model="newCP.MinMark" required />
                                <label for="cp-max" class="modal-label">Максимальный балл</label>
                                <input id="cp-max" min="0" placeholder="Укажите максимальный балл" class="form-control input-center" type="number" min="0" ng-model="newCP.MaxMark" required />
                            </div>

                            <div class="modal-footer margin-top-5">
                                <div class="pull-right right-buttons">
                                    <button class="btn btn-success right-button modal-btn" type="submit">
                                        Создать
                                    </button>
                                    <button data-dismiss="modal" class="btn btn-danger right-button modal-btn">
                                        Отмена
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--delete-modal-->
        <div class="modal fade" id="cp-del-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Удаление контрольной точки</h4>
                    </div>
                    <div class="modal-body text-center">
                        <h4>Вы действительно хотите удалить выбранную к/т?</h4>
                    </div>
                    <footer class="modal-footer margin-top-5">
                        <div class="right-buttons">
                            <button class="btn btn-danger right-button modal-btn" ng-click="delete()" id="del-ok-btn" type="button">
                                Удалить
                            </button>
                            <button data-dismiss="modal" class="btn btn-primary right-button modal-btn" id="cp-del-cancel-btn">
                                Отмена
                            </button>
                        </div>
                    </footer>
                </div>
            </div>
        </div>


        <!--edit-modal-->
        <div class="modal fade" role="dialog" id="cp-edit-modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Редактирование к/т</h4>
                    </div>
                    <div class="modal-body modal-body-paddings">
                        <form role="form" name="editForm" class="form-horizontal" ng-submit="edit($event)">
                            <div class="form-group text-center">
                                <label for="edit-cp-number" class="modal-label">Номер контрольной точки</label>
                                <input id="edit-cp-number" min="1" max="4" placeholder="Укажите новый номер к/т" class="form-control input-center" type="number" ng-model="editCP.Number" required />
                                <label for="edit-cp-name" class="modal-label">Название к/т</label>
                                <input id="edit-cp-name" placeholder="Введите новое название к/т" class="form-control input-center" type="text" ng-model="editCP.Name" required />
                                <label for="edit-cp-date" class="modal-label">Дата</label>
                                <input id="edit-cp-date" placeholder="Укажите новую дату сдачи к/т: yyyy-MM-dd" max="2400-01-01" min="1990-01-01" class="form-control input-center" type="date" ng-model="editCP.Date" required />
                                <label for="edit-cp-min" class="modal-label">Минимальный балл</label>
                                <input id="edit-cp-min" min="0" placeholder="Минимальный балл за к/т" class="form-control input-center" min="0" type="number" ng-model="editCP.MinMark" required />
                                <label for="edit-cp-max" class="modal-label">Максимальный балл</label>
                                <input id="edit-cp-max" min="0" placeholder="Укажите максимальный балл за к/т" class="form-control input-center" min="0" type="number" ng-model="editCP.MaxMark" required />
                            </div>
                            <div class="modal-footer margin-top-5">
                                <div class="pull-right right-buttons">
                                    <button class="btn btn-success right-button modal-btn" id="edit-btn" type="submit">
                                        Сохранить
                                    </button>
                                    <button data-dismiss="modal" class="btn btn-danger right-button modal-btn" id="edit-cancel-btn">
                                        Отмена
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- work types modals -->
    <!--add-modal-->
    <div ng-controller="workTypeSubController">
        <div class="modal fade" role="dialog" id="workType-add-modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Добавление вида работы</h4>
                    </div>
                    <div class="modal-body modal-body-paddings">
                        <form role="form" name="addForm" method="POST" ng-submit="create($event)">
                            <div class="form-group text-center">
                                <label for="worktype-description" class="modal-label">Название</label>
                                <input id="worktype-description" placeholder="Введите название вида работы" class="form-control input-center" type="text" ng-model="newWorkType.Name" required />
                                <label for="worktype-min" class="modal-label">Минимальный балл</label>
                                <input id="worktype-min" min="0" placeholder="Укажите минимальный балл" class="form-control input-center" type="number" ng-model="newWorkType.MinMark" required />
                                <label for="worktype-max" class="modal-label">Максимальный балл</label>
                                <input id="worktype-max" min="0" placeholder="Укажите максимальный балл" class="form-control input-center" type="number" ng-model="newWorkType.MaxMark" required />
                            </div>

                            <div class="modal-footer margin-top-5">
                                <div class="pull-right right-buttons">
                                    <button class="btn btn-success right-button modal-btn" type="submit">
                                        Создать
                                    </button>
                                    <button data-dismiss="modal" class="btn btn-danger right-button modal-btn">
                                        Отмена
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--delete-modal-->
        <div class="modal fade" id="workType-del-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Удаление вида работы</h4>
                    </div>
                    <div class="modal-body text-center">
                        <h4>Вы действительно хотите удалить выбранный вид работы и все связанные с ним материалы?</h4>
                    </div>
                    <footer class="modal-footer margin-top-5">
                        <div class="right-buttons">
                            <button class="btn btn-danger right-button modal-btn" ng-click="delete()" id="del-ok-btn" type="button">
                                Удалить
                            </button>
                            <button data-dismiss="modal" class="btn btn-primary right-button modal-btn" id="wt-del-cancel-btn">
                                Отмена
                            </button>
                        </div>
                    </footer>
                </div>
            </div>
        </div>


        <!--edit-modal-->
        <div class="modal fade" role="dialog" id="workType-edit-modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Редактирование вида работы</h4>
                    </div>
                    <div class="modal-body modal-body-paddings">
                        <form role="form" name="editForm" class="form-horizontal" ng-submit="edit($event)">
                            <div class="form-group text-center">
                                <label for="edit-worktype-description" class="modal-label">Название</label>
                                <input id="edit-worktype-description" placeholder="Введите новое название" class="form-control input-center" type="text" ng-model="editWorkType.Name" required />
                                <label for="edit-worktype-min" class="modal-label">Минимальный балл</label>
                                <input id="edit-worktype-min" min="0" placeholder="Укажите новый минимальный балл" class="form-control input-center" type="number" ng-model="editWorkType.MinMark" required />
                                <label for="edit-worktype-max" class="modal-label">Максимальный балл</label>
                                <input id="edit-worktype-max" min="0" placeholder="Укажите новый максимальный к/т" class="form-control input-center" type="number" ng-model="editWorkType.MaxMark" required />
                            </div>

                            <div class="modal-footer margin-top-5">
                                <div class="pull-right right-buttons">
                                    <button class="btn btn-success right-button modal-btn" id="edit-btn" type="submit">
                                        Сохранить
                                    </button>
                                    <button data-dismiss="modal" class="btn btn-danger right-button modal-btn" id="edit-cancel-btn">
                                        Отмена
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--materials modals-->
    <div ng-controller="materialSubController">
        <!--add-modal-->
        <div class="modal fade" role="dialog" id="mat-add-modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Загрузка материала. Поддерживаются файлы с расширениями <code>.ppt</code>, <code>.pptx</code>, <code>.pps</code>, <code>.ppsx</code>, <code>.xls</code>, <code>.xlsx</code>, <code>.doc</code>, <code>.docx</code>, <code>.zip</code>, <code>.txt</code>, <code>.pdf</code> размером не более 10 Мб</h4>
                    </div>
                    <div class="modal-body modal-body-paddings">
                        <form role="form" name="matLoadForm" ng-submit="addUploader.uploadAll()">
                            <div class="form-group text-center">
                                <label for="mat-file-add" class="modal-label">Выбор файла</label>
                                <div ng-show="addUploader.isHTML5">
                                    <div nv-file-drop uploader="addUploader">
                                        <div id="mat-file-add" nv-file-over uploader="addUploader" over-class="another-file-over-class" class="well my-drop-zone">
                                            Перетащите файл или нажмите кнопку "Обзор"
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <span class="btn btn-info btn-file width-80" id="mat-file">
                                        Обзор <input class="file-input" type="file" nv-file-select uploader="addUploader" id="mat-file-load">
                                    </span>
                                    <label class="width-200 file-label" for="mat-file" id="fileLabel">
                                        <span ng-repeat="item in addUploader.queue" ng-bind="item._file.name"></span>
                                    </label>
                                </div>
                                <label for="progress" class="modal-label">Состояние загрузки</label>
                                <div class="progress modal-progress" style="" id="progress">
                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': addUploader.progress + '%' }" style="width: 0%;"></div>
                                </div>

                            </div>

                            <div class="modal-footer margin-top-5">
                                <div class="pull-right right-buttons">
                                    <button type="submit" class="btn btn-success right-button modal-btn" ng-disabled="!addUploader.getNotUploadedItems().length" disabled="disabled">
                                        Загрузить
                                    </button>
                                    <button data-dismiss="modal" class="btn btn-danger right-button modal-btn">
                                        Отмена
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--delete-modal-->
        <div class="modal fade" id="mat-del-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Удаление материала</h4>
                    </div>
                    <div class="modal-body text-center">
                        <h4>Вы действительно хотите удалить выбранный материал?</h4>
                    </div>
                    <footer class="modal-footer margin-top-5">
                        <div class="right-buttons">
                            <button class="btn btn-danger right-button modal-btn" ng-click="delete()" id="del-ok-btn" type="button">
                                Удалить
                            </button>
                            <button data-dismiss="modal" class="btn btn-primary right-button modal-btn" id="mat-del-cancel-btn">
                                Отмена
                            </button>
                        </div>
                    </footer>
                </div>
            </div>
        </div>

        <!--edit-modal-->
        <div class="modal fade" role="dialog" id="mat-edit-modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Переименование загруженного файла</h4>
                    </div>
                    <div class="modal-body modal-body-paddings">
                        <form role="form" name="matLoadForm" ng-submit="edit()">
                            <div class="form-group text-center">
                                <label for="newMatName" class="modal-label">Имя файла</label>
                                <input id="newMatName" placeholder="Введите новое имя файла" class="form-control input-center" type="text" ng-model="editMaterial.Name" required />
                            </div>

                            <div class="modal-footer margin-top-5">
                                <div class="pull-right right-buttons">
                                    <button type="submit" class="btn btn-success right-button modal-btn">
                                        Переименовать
                                    </button>
                                    <button data-dismiss="modal" class="btn btn-danger right-button modal-btn">
                                        Отмена
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--response modal-->
    <div class="modal fade" role="dialog" id="response-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h4 ng-bind="response.r"></h4>
                </div>
                <footer class="modal-footer">
                    <input data-dismiss="modal" type="button" class="btn btn-default modal-btn" id="response-ok" value="Ок">
                </footer>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/angularFileUploader")
@Scripts.Render("~/bundles/disciplineMainAdmin")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/disciplineAdminFocus")
