﻿<a href="#" class="list-group-item break-word ng-class: cp.activity" ng-click="select($event)">
    <h4 class="list-group-item-heading page-header" ng-bind="cp.Name"></h4>
    <p class="list-group-item-text">Номер: <span ng-bind="cp.Number"></span></p>
    <p class="list-group-item-text">Примерная дата сдачи: <span ng-bind="cp.Date | date:'dd.MM.yyyy'"></span></p>
    <p class="list-group-item-text">Min балл: <span ng-bind="cp.MinMark"></span></p>
    <p class="list-group-item-text">Max балл: <span ng-bind="cp.MaxMark"></span></p>
</a>