﻿<div class="bs-callout bs-callout-info">
    <p class="float-left"> {{material.Type}} </p>
    <div class="material-btn-group">
        <div class="btn-group">
            <a ng-href="/Discipline/GetMaterial?filePath={{material.Material1}}&fileName={{material.Type}}" target="_blank" type="button" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Скачать">
                <i class="glyphicon glyphicon-download"></i>
            </a>
            <div ng-show="tracking.status != 'past' && currentDiscipline.body.IsAdmin">
                <button type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Удалить" ng-click="delete()">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>

                <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Редактировать" ng-click="edit()">
                    <i class="glyphicon glyphicon-pencil"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="clear-both"></div>
</div>