﻿@using NLM.BLL.DTO;

@{
    Layout = null;
    string last = "";


    UserDTO user = (UserDTO)Session["User"];
    String login = user.Login;

    String year = (String)Session["Year"];
    String semester = (String)Session["Semester"];
}

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/css")
    <meta charset="utf-8" />
    <meta name="author" content="Paul Vavilov and Vladimir Swertchkov" />
    <meta name="description" content="Lecturer's site alpha'">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
    <div class="wrapper">
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#b-menu-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Главная</a>
                </div>
                <div class="collapse navbar-collapse" id="b-menu-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Курсовые проекты", "Index", "CourseProjects", null, null)</li>
                        <li>@Html.ActionLink("Дисциплины", "Index", "Discipline", null, null)</li>
                        <li> @Html.ActionLink("Группы", "Index", "Groups", null, null) </li>
                        <li>@Html.ActionLink("Оценки", "Index", "Marks", null, null)</li>
                        <li> @Html.ActionLink("Литература", "Index", "Literature", null, null) </li>
                        <li> @Html.ActionLink("Преподаватели", "Index", "Lecturers", null, null) </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="margin-top-5 margin-bottom-0 page-header text-center default-cursor">Логин: <span class="login-stuff">@login</span></li>
                                <li class="margin-top-5"><a href="/Account/UserPage">Профиль</a></li>
                                <li><a href="/Account/LogOff">Выйти</a></li>
                            </ul>
                        </li>
                        <li class="active"><a class="glyphicon glyphicon-cog margin-top-minus-3px" href="/Config/Admin"></a></li>
                    </ul>
                </div> <!-- /.nav-collapse -->
            </div> <!-- /.container -->
        </div> <!-- /.navbar -->
        <main class="container">
            <div class="row margin-top-80px">
                <ol class="breadcrumb my-breadcrumbs">
                    <li class="active default-cursor">Конфигурация</li>
                    <li class="active default-cursor">Настройка параметров дат</li>
                    <button class="btn btn-link btn-xs pull-right" data-toggle="popover" data-trigger ="focus" title="Конфигурация сервера" data-content="Здесь можно устанавливать текущий год и семестр. Все данные на сайте, будут зависеть от указанных значений." data-placement="bottom">
                        <span class="glyphicon glyphicon-question-sign">
                        </span>
                    </button>
                    <li class="clearfix">
                    </li>
                </ol>
                
                <form class="form-horizontal my-container width-280 margin-top-8px" role="form" action="/Config/SaveSettings" method="post">
                    <div class="config-label">
                        <label for="current-year">Учебный год: </label>
                        <span id="current-year">@year</span>
                    </div>
                    <div class="config-label">
                        <label for="current-semester">Семестр: </label>
                        <span id="current-semester" class="label-static">@semester</span>
                    </div>
                    <label for="year" class="config-label">Новый учебный год</label>
                    <select class="form-control " id="year" name="Year">
                        @for(int i=2000; i<2100; i++)
                        {
                            <option>@i-@(i+1)</option>
                        }
                    </select>
                    <label for="semester" class="config-label">Новый семестр</label>
                    <select id="semester" class="form-control" name="Semester">
                        <option>1</option>
                        <option>2</option>
                    </select>
                    <button class="btn btn-default margin-top-15 pull-right btn-sm">Сохранить</button>
                </form>
            </div>
        </main>
    </div>

    <footer class="footer navbar navbar-default">
        <div class="text-center">
            <p class="navbar-text my-nav-text">&copy Vavilov & Swerchkov Ltd 2015-2016</p>
            <p class="navbar-text my-nav-text">All rights reserved. @Html.ActionLink("About", "About", "Shared", null, null) </p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Scripts/jquery.unobtrusive-ajax.js")"></script>

    @if ((string)Session["Type"] != "Студент")
    {
        @Scripts.Render("~/bundles/userPage")
    }

</body>
</html>

