﻿@{
    Layout = null;
}
@Styles.Render("~/Content/css")


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Refresh" content="3; URL=/Discipline/Index">
    <title>Сохранение настроек</title>
</head>
<body class="body-half-cut">
    <section>

        <div class="form-horizontal panel panel-default register-div">
            <div class="panel-heading page-header reg-header text-center">
                <h4> Настройки были успешно сохранены. </h4>
            </div>
            <a href="/Discipline/Index" class="btn btn-default btn-sm width-50 a-center" data-toggle="tooltip" data-placement="bottom">
                Вернуться к работе
            </a>
        </div>
    </section>
</body>
</html>