﻿@model NLM.WEB.Models.Account.LoginChangeViewModel
@{ 
    String login = (String)ViewBag.Login;
}

@using (Ajax.BeginForm("ChangeLogin",null, new AjaxOptions { UpdateTargetId = "loginResults" }, new { id="LoginForm" } ))
{
    @Html.AntiForgeryToken()

    <input type="hidden" id="hiddenLogKey" name="Key" value="@Convert.ToBase64String(Guid.NewGuid().ToByteArray())" />

    <div class="form-horizontal panel panel-info">
        <div class="panel-heading page-header reg-header text-center">
            <h4>Смена логина</h4>
            <h5 class="reg-h"> С помощью этой формы Вы можете сменить свой логин</h5>
        </div>
        <div class="form-group register-dipper-div">
            <label class="col-sm-4 col-xs-4 col-md-4 col-lg-4 control-label">Текущий логин: </label>
            <div class="col-sm-8 col-xs-8 col-md-8 col-lg-8">
                <p class="form-control-static">@login</p>
            </div>
        </div>
        <div class="form-group register-dipper-div">
            @Html.LabelFor(model => model.Login, "Новый логин:", htmlAttributes: new { @class = "control-label col-md-4 col-lg-4 col-sm-4 col-xs-4"})
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                @Html.TextBoxFor(model => model.Login, new { @class = "form-control", id = "LoginBox", placeholder = "Введите новый логин", required = "required" })
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger", id = "LoginErrorMessage" })
            </div>
        </div>

        <div class="form-group register-dipper-div">
            @Html.LabelFor(model => model.Mail, "Текущий e-mail:", htmlAttributes: new { @class = "control-label col-md-4 col-lg-4 col-sm-4 col-xs-4" })
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                @Html.TextBoxFor(model => model.Mail, new { @class = "form-control", placeholder = "Введите текущий e-mail", required = "required", type = "email" })
                @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group text-center">
            @*@Html.ValidationSummary(true, "", new { @class = "text-danger list-style-none-div" })*@
        </div>
        <div id="loginResults">

        </div>

        <button class="btn btn-info btn-sm user-page-save pull-right" type="submit" id="login-change">Сохранить</button>
        <div class="clearfix"></div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/sw_scripts/Secure_Scripts/myEncode.js"></script>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        var login = $("#LoginBox").val();
        var key = $("#hiddenLogKey").val();
        $("#LoginBox").val(bitEncode(login, key));
    });
</script>

<script>
    $("#LoginForm").submit(function () {
        var login = $("#LoginBox").val();
        var key = $("#hiddenLogKey").val();
        $("#LoginBox").val(bitEncode(login, key));

        setTimeout(function () {
            $("#LoginBox").val(login);
        }, 1);
    });
</script>