﻿@model NLM.WEB.Models.Account.LoginViewModel

@{
    Layout = null;
}
@Styles.Render("~/Content/css")


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LecturerManager</title>
</head>
<body class="body-half-cut">
    <section>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "align-center reg-form" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal panel panel-info register-div">
                <input type="hidden" id="hiddenKey" name="Key" value="@Convert.ToBase64String(Guid.NewGuid().ToByteArray())" />
                
                <div class="panel-heading page-header reg-header text-center">
                    <h4>Добро пожаловать на сайт управления дисциплинами.</h4>
                    <h5 class="reg-h"> Для дальнейшей работы выполните вход в систему</h5>
                </div>
                <div class="form-group register-dipper-div">
                    @Html.LabelFor(model => model.Login, "Логин:", htmlAttributes: new { @class = "control-label col-md-3 col-lg-3 col-sm-3 col-xs-3" })
                    <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                        @Html.TextBoxFor(model => model.Login, new { @class = "form-control", id = "LoginBox", autofocus = "",
                       placeholder = "Введите логин", required = "required",
                       value = ViewBag.Login != null ? ViewBag.Login.ToString() : "" })

                        @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger", id = "LoginErrorMessage" })
                    </div>
                </div>

                <div class="form-group register-dipper-div">
                    @Html.LabelFor(model => model.Password, "Пароль:", htmlAttributes: new { @class = "control-label col-md-3 col-lg-3 col-sm-3 col-xs-3" })
                    <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Введите пароль", required = "required", id="password" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group text-center">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger list-style-none-div" })
                </div>

                <div class="form-group register-dipper-div">
                    <div class="btn-group col-lg-8 col-md-8 col-sm-8 col-xs-8 offset-3">
                        <button type="submit" class="btn btn-info width-50" data-toggle="tooltip" data-placement="bottom" title="Войти">
                            <i class="glyphicon glyphicon-log-in"></i>
                        </button>
                        <a href="/Account/Restore" class="btn btn-default width-50" data-toggle="tooltip" data-placement="bottom" title="Напомнить пароль">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    </section>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*<script src="~/Scripts/jquery.md5.js"></script>

    //<script src="~/Scripts/sw_scripts/Secure_Scripts/core-min.js"></script>
    //<script src="~/Scripts/sw_scripts/Secure_Scripts/cipher-core-min.js"></script>

    <script src="http://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/aes.js"></script>

    <script src="~/Scripts/sw_scripts/Secure_Scripts/tripledes.js"></script>
    <script src="~/Scripts/sw_scripts/Secure_Scripts/aes.js"></script>*@

    <script src="~/Scripts/myEncode.js"></script>
    <script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        var login = $("#LoginBox").val();
        var key = $("#hiddenKey").val();
        $("#LoginBox").val(bitEncode(login, key));
    });
    </script>

    <script >
        $('.reg-form').submit(function () {
            var key = $("#hiddenKey").val();
            var login = $("#LoginBox").val();
            var password = $("#password").val();

            var logEnc = bitEncode(login, key);
            var passEnc = bitEncode(password, key);

            $('#LoginBox').val(logEnc);
            $("#password").val(passEnc);

            setTimeout(function () {
                $('#LoginBox').val(login);
            }, 1);

            return true;
        });
    </script>
</body>
</html>