﻿@model NLM.WEB.Models.Account.PasswordRestorationViewModel

@{
    Layout = null;
}
@Styles.Render("~/Content/css")


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Восстановление пароля</title>
</head>
<body class="body-half-cut">
    <section>
        @using (Html.BeginForm("Restore", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "align-center reg-form" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal panel panel-info register-div">
                <div class="panel-heading page-header reg-header text-center">
                    <h4>Восстановление пароля.</h4>
                    <h5 class="reg-h"> Введите ваш логин и почтовый адрес. На указанный почтовый адрес будет отправлено письмо с новым паролем.</h5>
                </div>
                <div class="form-group register-dipper-div">
                    @Html.LabelFor(model => model.Login, "Логин:", htmlAttributes: new { @class = "control-label col-md-3 col-lg-3 col-sm-3 col-xs-3" })
                    <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                        @Html.TextBoxFor(model => model.Login, new { @class = "form-control", id = "LoginBox", placeholder = "Введите логин или email", required="required"})
                        @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger", id = "LoginErrorMessage" })
                    </div>
                </div>

                <div class="form-group register-dipper-div">
                    @Html.LabelFor(model => model.Mail, "E-mail:", htmlAttributes: new { @class = "control-label col-md-3 col-lg-3 col-sm-3 col-xs-3" })
                    <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                        @Html.TextBoxFor(model => model.Mail, new { @class = "form-control", placeholder = "Введите e-mail" , type = "email", required="required"})
                        @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group text-center">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger list-style-none-div" })
                </div>

                <div class="form-group register-dipper-div">
                    <div class="btn-group col-lg-offset-3 col-lg-8 col-md-offset-3 col-md-8 col-sm-8 col-sm-offset-3 col-xs-8 offset-3">
                        <button type="submit" class="btn btn-info width-50" data-toggle="tooltip" data-placement="bottom" title="Запросить пароль на почту">
                            Запросить
                        </button>
                        <a href="/Account/Login" class="btn btn-default width-50" data-toggle="tooltip" data-placement="bottom" title="Вернуться на форму входа">
                            Назад
                        </a>
                    </div>
                </div>
            </div>
        }
    </section>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
</body>
</html>