﻿@{
    Layout = null;
}
@Styles.Render("~/Content/css")


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Refresh" content="3; URL=/Account/UserPage">
    <title>Смена логина</title>
</head>
<body class="body-half-cut">
    <section>

        <div class="form-horizontal panel panel-info register-div">
            <div class="panel-heading page-header reg-header text-center">
                <h4> Логин был успешно изменён. </h4>
            </div>
            <a href="/Account/UserPage" class="btn btn-default width-50 a-center" data-toggle="tooltip" data-placement="bottom">
                К профилю
            </a>
        </div>
    </section>
</body>
</html>