<div class="notification__back" [style.display]='deleteNotificationShow ? "block" : "none"' (click)='hideDeleteNotification()'></div>
<div class="notification" [style.top]='deleteNotificationShow ? "100px" : "-120px"' [style.opacity]='deleteNotificationShow ? "1" : "0" '>
    <span class="notification__btn--close fa fa-close" id="js-close-notification" (click)='hideDeleteNotification()'></span>
    <p class="notification__message">Вы действительно хотите удалить привязку?</p>
    <div class="notification__box--btn">
        <button type="button" class="notification__btn notification__btn--success" (click)="submitDelete()">Да</button>
        <button type="button" class="notification__btn notification__btn--cancel" (click)="hideDeleteNotification()">Отмена</button>
    </div>
</div>

<section class="container">
    <div class="bread">
        <a routerLink="/disciplinesA" class="bread__link">Вернуться</a> к списку дисциплин
    </div>
    <section>
        <h2>
            Список привязок по дисциплине "{{disciplineName}}"
        </h2>
    </section>
    <!--Admin panel addition new student-->
    <form action="" class="form cl">
        <h4 class="form__title">Новая привязка <i class="form__title--icon fa fa-minus" title="скрыть/показать панель добавления" [class]="isFormVisible ? 'form__title--icon fa fa-minus' : 'form__title--icon fa fa-plus'" (click)="toggleForm()"></i></h4>
        <div class="form__content" [style.opacity]='isFormVisible ? 1 : 0' [style.display]='isFormVisible ? "block" : "none"'>
            <div class="col-xs-4 box__input">
                <select name="" [(ngModel)]="newDFYSemester" class="form__select" name="newDFYSemester">
                    <option value="1">I</option>
                    <option value="2">II</option>
                </select>
            </div>
            <div class="col-xs-4">
                <select name="" [(ngModel)]="newDFYYear" class="form__select" name="newDFYYear">
                    <option>2010-2011</option>
                    <option>2011-2012</option>
                    <option>2012-2013</option>
                    <option>2013-2014</option>
                    <option>2014-2015</option>
                    <option>2015-2016</option>
                    <option>2016-2017</option>
                    <option>2017-2018</option>
                    <option>2018-2019</option>
                    <option>2019-2020</option>
                    <option>2020-2021</option>
                    <option>2021-2022</option>
                    <option>2022-2023</option>
                    <option>2023-2024</option>
                    <option>2024-2025</option>
                    <option>2025-2026</option>
                    <option>2026-2027</option>
                    <option>2027-2028</option>
                    <option>2028-2029</option>
                    <option>2029-2030</option>
                    <option>2030-2031</option>
                    <option>2031-2032</option>
                    <option>2032-2033</option>
                    <option>2033-2034</option>
                    <option>2034-2035</option>
                    <option>2035-2036</option>
                    <option>2036-2037</option>
                    <option>2037-2038</option>
                    <option>2038-2039</option>
                    <option>2039-2040</option>
                </select>
            </div>
            <div class="col-xs-4 box__input--btn">
                <input type="button" value="Добавить" (click)="addDFY()" class="form__btn form__btn--group">
            </div>
            <div class="div col-xs-12">
                <p class="box__input--fail">{{serverError}}</p>
            </div>
            <div class="box__input">

            </div>
        </div>
    </form>

    <div class="discipline__box">
        <div class="row manager-disciplines">
            <div class="discipline col-sm-12 col-md-6" *ngFor="let dfy of dfyCollection">
                <!--admin icon nav-->
                <i class="fa fa-trash nav__icon--trash" title="Удалить предмет" (click)="showDeleteNotification(dfy)"></i>
                <!-- ============= -->
                <div class="discipline__content discipline__block">
                    <div class="discipline__text discipline__text--linking">учебный год {{dfy.Year}}</div>
                    <div class="discipline__text discipline__text--linking">семестр {{dfy.Semester}}</div>
                    <!--admin icon fa fa-square nav-->
                    <p class="discipline__text"><span class="discipline__text--title">Лекторы:</span><span *ngFor="let lect of dfy.Lecturers; let i=index">{{lect.Name}}<span *ngIf="dfy.Lecturers.length>1 && i!=l && dfy.Lecturers.length-1!=i">, </span></span><span *ngIf="dfy.Lecturers.length == 0">не назначены</span><i class="fa fa-plus-square nav__icon--plus" title="Добавить лекторов"></i></p>
                    <p class="discipline__text"><span class="discipline__text--title">Ассистенты:</span><span *ngFor="let assist of dfy.Assistants; let i1=index">{{assist.Name}}<span *ngIf="dfy.Assistants.length>1 && i1!=l && dfy.Assistants.length-1!=i1">, </span></span><span *ngIf="dfy.Assistants.length == 0">не назначены</span><i class="fa fa-plus-square nav__icon--plus" title="Добавить ассистентов"></i> </p>
                </div>
            </div>
            <div class="discipline__empty" *ngIf="dfyCollection.length==0">Привязки по выбранной дисциплине отсутствуют в базе</div>
        </div>
    </div>
</section>