    <div class="nav container">
        <div class="number__box">
            <label for="year" class="nav__text">Год:</label>
            <span class="input__number--decrement" (click)="decrementYear()">-</span><!--
                 --><input type="text" class="nav__input--number" id="year" value="2016-2017" disabled [(ngModel)]="currentYear" (change)="chooseDateInterval()"><!--
                 --><span class="input__number--increment" (click)="incrementYear()">+</span>
        </div>
        <span class="nav__text text__part">Семестр:</span>
        <span class="firts--part nav__text--part">I</span>
        <span class="second--part nav__text--part">II</span>
        <input type="checkbox" id="centure" class="nav__input--centure" [checked]="isSecondSemester" (change)="changeSemester()">
        <label for="centure" class="nav__label--centure"></label>
        <div class="nav__line"></div>
    </div>
    <div class="container">
        <div class="row manager-disciplines">
            <div class="discipline col-sm-12 col-md-6" *ngFor="let disc of currentDFYCollection">
                <!--admin icon nav-->
                <div *ngIf="disc.CanActivate">
                    <i class="fa fa-trash nav__icon&#45;&#45;trash" title="Удалить предмет"></i>
                    <i class="fa fa-calendar-plus-o nav__icon&#45;&#45;calendar" title="Добавить время предмета"></i>
                </div>
                <!-- ============= -->
                <div class="discipline__content">
                    <h2 class="discipline__title">{{ disc.DisciplineName }}</h2>
                    <!--admin icon fa fa-square nav-->
                    <p class="discipline__text"><span class="discipline__text--title">Лекторы:</span><span *ngFor="let lect of disc.Lecturers; let i=index">{{lect.Name}}<span *ngIf="disc.Lecturers.length>1 && i!=l && disc.Lecturers.length-1!=i">, </span></span><span *ngIf="disc.Lecturers.length == 0">не назначены</span></p>
                    <p class="discipline__text"><span class="discipline__text--title">Ассистенты:</span><span *ngFor="let assist of disc.Assistants; let i1=index">{{assist.Name}}<span *ngIf="disc.Assistants.length>1 && i1!=l && disc.Assistants.length-1!=i1">, </span></span><span *ngIf="disc.Assistants.length == 0">не назначены</span><i *ngIf="disc.CanActivate" class="fa fa-plus-square nav__icon--plus" title="Добавить ассистентов"></i> </p>
                </div>
                <div class="discipline__nav">
                    <div class="row">
                        <div class="col-xs-6 col-sm-3">
                            <a href="#" class="discipline__nav--link">Контроли</a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a href="#" class="discipline__nav--link">Группы</a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a href="#" class="discipline__nav--link">Оценки</a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a href="#" class="discipline__nav--link">К/т</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="discipline__empty" *ngIf="currentDFYCollection.length==0">В выбранном учебном году и семестре прослушиваемые Вами дисциплины отсутствуют</div>
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!--<script type="text/javascript" src="js/dicsiplines.js"></script>-->