<div class="notification__back" [style.display]='deleteNotificationShow ? "block" : "none"' (click)='hideDeleteNotification()'></div>
<div class="notification" [style.top]='deleteNotificationShow ? "100px" : "-120px"' [style.opacity]='deleteNotificationShow ? "1" : "0" '>
    <span class="notification__btn--close fa fa-close" id="js-close-notification" (click)='hideDeleteNotification()'></span>
    <p class="notification__message">Вы действительно хотите удалить дисциплину?</p>
    <div class="notification__box--btn">
        <button type="button" class="notification__btn notification__btn--success" (click)="submitDelete()">Да</button>
        <button type="button" class="notification__btn notification__btn--cancel" (click)="hideDeleteNotification()">Отмена</button>
    </div>
</div>
<section class="container">
    <section class="">
        <h2>
            Управление дисциплинами
        </h2>
    </section>
    <!-- Admin panel addition new group -->
    <form action="" class="form cl" #discForm="ngForm">
        <h4 class="form__title">Новая дисциплина <i class="form__title--icon fa fa-minus" [class]="isFormVisible ? 'form__title--icon fa fa-minus' : 'form__title--icon fa fa-plus'" (click)="toggleForm()" title="скрыть/показать панель добавления"></i></h4>
        <div class="form__content" [style.opacity]='isFormVisible ? 1 : 0' [style.display]='isFormVisible ? "block" : "none"'>
            <div class="col-xs-9 box__input">
                <input type="text" class="form__input" placeholder="Название дисциплины" (click)="clearEditError()" [(ngModel)]="editedDisciplineName" name="editedDiscipline" #discName='ngModel' required [class]="(discName.invalid && discName.touched) || editError != '' ? 'form__input form__input--fail': 'form__input'" >
            </div>
            <div class="col-xs-3 box__input--btn">
                <input type="button" value="Добавить" class="form__btn form__btn--group" (click)='saveEdit(discForm)' [class]="discName.valid && editError == '' ? 'form__btn group' : 'form__btn form__btn--fail' "
                       [disabled]='(discName.invalid && discName.touched) || editError != ""'/>
            </div>
            <div class="div col-xs-12">
                <p class="box__input--fail" [hidden]='discName.valid || discName.untouched'>Введите название новой дисциплины</p>
                <p class="box__input--fail">{{editError}}</p>
            </div>
        </div>
    </form>
</section>
<div class="discipline__box container">
    <div class="row manager-disciplines">
        <!-- this is empty block if not found disciplines -->
        <!-- <div class="discipline__empty"></div>-->
        <div class="discipline col-sm-12 col-md-4" *ngFor="let disc of disciplineCollection">
            <a class="fa fa-sign-in nav__icon--sign-in" title="Перейти к привязкам к годам и семестрам"
               href="/dfyA/{{disc.DisciplineId}}?name={{disc.Name}}">
            </a>
            <i class="fa fa-trash nav__icon--trash" title="Удалить предмет" (click)="showDeleteNotification(disc)"></i>
            <div class="discipline__content discipline__block">
                <h2 class="discipline__title discipline__title--manager">{{disc.Name}}</h2>
            </div>
        </div>
        <div class="discipline__empty" *ngIf="disciplineCollection.length==0">Дисциплины отсутствуют в базе</div>
    </div>
</div>
    