<div class="notification__back" [style.display]='deleteNotificationShow ? "block" : "none"' (click)='hideDeleteNotification()'>
</div>

<div class="notification" [style.top]='deleteNotificationShow ? "100px" : "-120px"' [style.opacity]='deleteNotificationShow ? "1" : "0" '>

	<span class="notification__btn--close fa fa-close" id="js-close-notification" (click)='hideDeleteNotification()'></span>
	<p class="notification__message">Вы действительно хотите удалить группу?</p>

	<button type="button" class="notification__btn notification__btn--success" (click)="submitDelete()">Да</button>
	<button type="button" class="notification__btn notification__btn--cancel" (click)='hideDeleteNotification()'> Отмена</button>

</div>

<section class="">
	<h2>
		Список групп
	</h2>
</section>

<!-- Admin panel addition new group -->
<form action="" class="form cl" #groupForm="ngForm" *ngIf="role == 'ADMIN'">
	<h4 class="form__title">
		Новая группа
		<i [class]="isFormVisible ? 'form__title--icon fa fa-minus' : 'form__title--icon fa fa-plus'" title="скрыть/показать панель добавления"
			(click)='toggleForm()'>
		</i>
	</h4>
	<div class='form__content' [style.opacity]='isFormVisible ? 1 : 0' [style.display]='isFormVisible ? "block" : "none"'>
		<div class="col-xs-9 box__input">
			<input type="text" [class]="groupName.invalid && groupName.touched ? 'form__input form__input--fail': 'form__input'"
			placeholder="Название группы" [(ngModel)]="editedGroupName" name="editedGroup"
			required="required" pattern="[a-zA-Zа-яА-Я]+-[0-9]{2}-[0-9]{1,2}" #groupName='ngModel'>
		</div>
		<div class="col-xs-3 box__input btn">
			<input type="button" value="Добавить" (click)='saveEdit(groupForm)'
			[class]="groupName.valid ? 'form__btn group' : 'form__btn form__btn--fail' "
			[disabled]='groupName.invalid && groupName.touched'>
		</div>
		<div class="div col-xs-12">
			<p class="box__input--fail" *ngIf='groupName.invalid && groupName.touched'>Невозможно создать группу</p>
		</div>
	</div>
</form>

<div class="groups row">
	<div class="group col-xs-12 col-sm-4" *ngFor="let group of groups">
		<div class="group__box group__box--name">
			<h4 class="group__text box__name--text">{{ group.GroupId }}</h4>
			<div class="group__nav">
				<a routerLink='/group/{{ group.GroupId }}' class="fa fa-sign-in group__btn group__btn--link"></a>
				<!-- Admin navigation button (delete group) -->
				<i class="fa fa-trash group__btn js-remove-group" *ngIf="role == 'ADMIN'" (click)="showDeleteNotification(group)"></i>
			</div>
		</div>
		<div class="group__box group__box--user">
			<p class="group__text box__user--text" *ngIf="group.CaptainId > 0">{{ group.CaptainName }}</p>
			<p class="group__text box__user--text" *ngIf="group.CaptainId == 0">Группе не назначен староста</p>
		</div>
	</div>
	<div class="group__empty" *ngIf='groups.length == 0'></div>
</div>