<div class='wrap'>
	<header class="header">
		<i class="fa fa-bars header__nav--btn" id="js-open-menu"></i>
		<ul class="header__nav container" *ngIf="isUserAuthenticated">
			<li class="header__nav--list"><a class="header__nav--link">Дисциплины</a></li>
			<li class="header__nav--list"><a class="header__nav--link nav__link--active">Группы</a></li>
			<li class="header__nav--list"><a class="header__nav--link">Преподаватели</a></li>
			<li class="header__nav--list"><a class="header__nav--link" id="js-profile"><i class="fa fa-user"></i><i class="fa fa-sort-desc header__icon--sort-desc"></i></a>
				<ul class="sub-menu">
					<li class="sub-menu--list"><a class="sub-menu--link">Профиль</a></li>
					<li class="sub-menu--list"><a (click)="logOut()" class="sub-menu--link">Выход</a></li>
				</ul>
			</li>
			<li class="header__nav--list"><a class="header__nav--link"><i class="fa fa-cog"></i></a></li>
		</ul>
        <ul class="header__nav container" *ngIf="!isUserAuthenticated">
            <li class="header__nav--list"><a routerLink="/login" class="header__nav--link  nav__link--active">Войти</a></li>
            <li class="header__nav--list"><a class="header__nav--link">Регестрация</a></li>
        </ul>
	</header>
	<section class="container">
		<router-outlet></router-outlet>
	</section>
	<footer class="footer">
		Футер
	</footer>
</div>