<section class="box__title">
	<h2 class="box__title--h2">Добро пожаловать на сайт управления дисциплинами.</h2>
	<h4 class="box__title--h4">Для дальнейшей работы выполните вход в систему</h4>
</section>
<form action="" method="" class="form">
	<!--Default panel status-->
	<div class="form__status form__status--default" *ngIf='!enterError && !enterSuccess'></div>

	<!--Fail panel status-->
	<div class="form__status form__status&#45;&#45;fail" *ngIf='enterError'>
		<i class="fa fa-exclamation status__icon status__icon&#45;&#45;fail"></i>
		<p class="form__status&#45;&#45;text">Неверный логин или пароль.</p>
	</div>

	<!--Success panel status-->
	<div class="form__status form__status&#45;&#45;success" *ngIf="enterSuccess">
    	<i class="fa fa-check status__icon status__icon&#45;&#45;success"></i>
        <p class="form__status&#45;&#45;text">Авторизация прошла успешно.</p>
	</div>

	<div class="form__content">
		<div class="form__box">
			<label for="js-login" class="form__box--label">Логин</label>
			<input type="text" placeholder="Введите логин" class="form__box--input" id='js-login' [(ngModel)]='login' name='login'>
		</div>
		<div class="form__box">
			<label for="js-password" class="form__box--label">Пароль</label>
			<input type="password" placeholder="Введите пароль" class="form__box--input" id='js-password' [(ngModel)]='password' name='password'>
		</div>
		<div class="form__box">
			<input type="button" class="form__btn" value="Войти" (click)='SubmitForm()'>
		</div>
		<div class="form__box">
			<a href="#" class="form__box--link">Забыли пароль?</a>
		</div>
	</div>
</form>