<div class="bread">
	<a routerLink='/group' class="bread__link">Вернуться</a> к списку групп.
</div>
<section class="">
	<h2>
		Список студентов
	</h2>
</section>

<div class="notification__back" [style.display]='deleteNotificationShow ? "block" : "none"' (click)='hideDeleteNotification()'>
</div>

<div class="notification" [style.top]='deleteNotificationShow ? "100px" : "-120px"' [style.opacity]='deleteNotificationShow ? "1" : "0" '>

	<span class="notification__btn--close fa fa-close" id="js-close-notification" (click)='hideDeleteNotification()'></span>
	<p class="notification__message">Вы действительно хотите удалить студента?</p>

	<button type="button" class="notification__btn notification__btn--success" (click)="submitDelete()">Да</button>
	<button type="button" class="notification__btn notification__btn--cancel" (click)='hideDeleteNotification()'> Отмена</button>

</div>

<!--Admin panel addition new student-->
<form action="" class="form cl" *ngIf="role == 'ADMIN'" #studentForm="ngForm">
	<h4 class="form__title">
		Новый студент
		<i [class]="isFormVisible ? 'form__title--icon fa fa-minus' : 'form__title--icon fa fa-plus'" title="скрыть/показать панель добавления"
			(click)='toggleForm()'>
		</i>
	</h4>
	<div class='form__content' [style.opacity]='isFormVisible ? 1 : 0' [style.display]='isFormVisible ? "block" : "none"'>
		<div class="col-xs-9 box__input">
			<input type="text" [class]="FIO.invalid && FIO.touched ? 'form__input form__input--fail': 'form__input'" 
			placeholder="Ф.И.О" [(ngModel)]='editingStudent.FIO' name="FIO" #FIO='ngModel' required="required">
		</div>
		<div class="col-xs-3 box__input&#45;&#45;btn">
			<input type="button" value="Добавить" 
			[class]="FIO.invalid || login.invalid || email.invalid ? 'form__btn form__btn--fail' : 'form__btn group' "
			(click)='saveEdit(studentForm)' [disabled]='FIO.invalid || login.invalid || email.invalid'>
		</div>
		<div class="col-xs-12" *ngIf='FIO.invalid && FIO.touched'>
			<p class="box__input--fail">Неверно заполненое поле Ф.И.О</p>
		</div>
		<div class="col-xs-12 col-sm-6 box__input&#45;&#45;login">
			<input type="text" [class]="login.invalid && login.touched ? 'form__input form__input--fail': 'form__input'" 
			placeholder="Логин студента" [(ngModel)]='editingStudent.Login' name="Login" #login='ngModel'
				required="required">
		</div>
		<div class="col-xs-12 col-sm-6 box__input&#45;&#45;email">
			<input type="text" [class]="email.invalid && email.touched ? 'form__input form__input--fail': 'form__input'" 
			placeholder="Эл.адрес" [(ngModel)]="editingStudent.Email" name='Email' #email='ngModel' required="required" 
			pattern='[a-zA-Z0-9]+@[a-zA-Z0-9]+\.[a-zA-Z]+'>
		</div>
		<div class="col-xs-12 col-sm-6" *ngIf='login.invalid && login.touched'>
			<p class="box__input--fail">Неверно заполненое поле Логин</p>
		</div>
		<div [class]="login.invalid && login.touched ? 'col-xs-12 col-sm-6' : 'col-xs-12 col-sm-offset-6 col-sm-6' " *ngIf='email.invalid && email.touched'>
			<p class = "box__input--fail">Неверно заполненое поле Email</p>
		</div>
	</div>
</form>

<div class="students row">
	<div class="student col-xs-12 col-sm-4" *ngFor="let student of students" [hidden]='students.length == 0'>
		<div class="student__box student__box--name">
			<h4 class="student__text box__name--text">{{ student.FIO }}</h4>
			<div class="student__nav">
				<!-- Admin navigation button (delete student) -->
				<i class="fa fa-pencil student__btn"></i>
				<i class="fa fa-trash student__btn js-remove-student" *ngIf="role == 'ADMIN'" (click)='showDeleteNotification(student)'></i>
			</div>
		</div>
		<div class="student__box student__box--user">
			<p class="student__text">{{ student.Login }}</p>
			<p class="student__text">{{ student.Email }}</p>
		</div>
	</div>
	<div class="student__empty" *ngIf='students.length == 0'></div>
</div>