﻿@using Newtonsoft.Json;
@model NLM.WEB.Models.Lecturer.MarksMainViewModel


@{
    ViewBag.Title = "Marks";
    Layout = "~/Views/Shared/_LecturerAdminLayout.cshtml";
}

<!-- 2-column layout -->
<div class="row row-offcanvas row-offcanvas-right" ng-app="marksApp" ng-controller="filter">
    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 sidebar-offcanvas" id="sidebar">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Группы</h3>
            </div>
            <div class="panel-body">
                <form role="form" class="text-center">
                    <label for="selectField">Выберите учебный год</label>
                    <div class="row padding-sides-10">
                        <div class="input-group">
                            <select class="form-control fullwidth-input" id="selectField" ng-options="year for year in Years"
                                    ng-model="currentYear">
                            </select>
                            <span class="input-group-btn">
                                <button class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Фильтр" 
                                        type="button" ng-click="filterByYear()">
                                    <i class="glyphicon glyphicon-search">

                                    </i>

                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                        <div class="text-center">
                            <label for="themeList">Выберите группу</label>
                        </div>
                        <div class="list-group fixed-list area-bordered" role="navigation" id="themeList">
                            <a href="#" id="{{ group }}" class="list-group-item" ng-click="filterByGroup(group)" ng-repeat="group in Groups" 
                               ng-show="Groups.length > 0" onclick="return false;" ng-bind="group">
                            </a>
                            <a href="#" class="list-group-item" ng-show="Groups.length == 0" onclick="return false;"> Нет групп относяшихся к даному году. </a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                        <div class="text-center">
                            <label for="themeList">Выберите дисциплину</label>
                        </div>
                        <div class="list-group fixed-list area-bordered" role="navigation" id="themeList">
                            <a href="#" class="list-group-item" ng-repeat="disc in Disciplines" ng-show="Disciplines.length > 0"
                               ng-click="filterByDiscipline(disc)" id="{{ disc.DisciplineId }}" onclick="return false;" ng-bind="disc.Name">
                            </a>
                            <span ng-show="Disciplines.length == 0"> Дисциплины отсутствують. </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!--main-menu-->
        <nav class="navbar navbar-default navbar-static">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#b-menu-3">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- submenu elements for #b-menu-2 -->
            <div class="collapse navbar-collapse" id="b-menu-3"  ng-controller="editProjectInit" ng-switch="fileLoading">
                <ul class="nav navbar-nav" ng-switch-when="no-load">
                    <li ng-click="openEditModal()" onclick="return false;"><a href="#"><span class="glyphicon glyphicon-pencil"></span> Редактировать</a></li>
                    <li ng-click="generateMarkFile()" onclick="return false;"><a href="#"><span class="glyphicon glyphicon-floppy-save"></span> Выгрузить в Excel</a></li>
                    <li>
                        <a href="#" ng-click="uploadFile()" onclick="return false;"><span class="glyphicon glyphicon-floppy-open"></span> Загрузить из Excel</a>
                    </li>
                    <li><a href="#" ng-click="printTable()" onclick="return false;"><span class="glyphicon glyphicon-print"></span> Вывести на печать</a></li>
                </ul>
                <form role="form" class="hidden" enctype="multipart/form-data">
                    <input type="file" id="uploadFile" class="hidden" nv-file-select="" uploader="uploader" />
                </form>
                <div id="loadTable" ng-switch-when="loading">

                    <table class="table">
                        <caption> Загрузка файла на сервер </caption>
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="ballsWaveG" ng-switch-when="server-processing">
                    <div class="move-left"> Обработка файла на сервере : </div>
                    <div id="ballsWaveG_1" class="ballsWaveG"></div>
                    <div id="ballsWaveG_2" class="ballsWaveG"></div>
                    <div id="ballsWaveG_3" class="ballsWaveG"></div>
                    <div id="ballsWaveG_4" class="ballsWaveG"></div>
                    <div id="ballsWaveG_5" class="ballsWaveG"></div>
                    <div id="ballsWaveG_6" class="ballsWaveG"></div>
                    <div id="ballsWaveG_7" class="ballsWaveG"></div>
                    <div id="ballsWaveG_8" class="ballsWaveG"></div>
                </div>
            </div><!-- /.nav-collapse -->
        </nav>
        <!-- jumbotron -->
        <div class="jumbotron my-jumbotron" id="tableDiv">
            <div class="table-responsive">
                <table class="table table-hover table=table-condensed">
                    <thead>
                        <tr class="success">
                            <th>ФИО студента</th>
                            <th ng-repeat="cat in Worktypes" ng-bind="cat.Name"></th>
                        </tr>
                    </thead>
                    <tbody ng-switch="Marks.length">

                        <tr ng-repeat="mark in Marks" ng-show="Marks.length > 0" id="{{ mark.UserId }}" ng-click="selectMark(mark)">
                            <td ng-bind="mark.FIO">{{ mark.FIO }}</td>
                            <td ng-repeat="studMark in mark.StudentMarks" ng-bind="studMark.Value">{{ studMark.Value }}</td>
                        </tr>

                        <tr ng-switch-when="0">
                            <td>
                                Оценки отсутствують.
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div ng-controller="editProjectModal" class="modal fade" id="editMarkDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Редактировать оценки 
                </div>
                <div class="modal-body">
                    <div class="form-group" ng-repeat="mark in StudentMarks">
                        <label class="fullwidth-label">
                            {{ mark.Key.Name }}
                            <input type="number" class="form-control fullwidth-input" placeholder="Введите оценку" 
                                   value="{{mark.Value}}" ng-model="mark.Value" />
                        </label>
                    </div>
                </div>
                <div class="modal-footer text-right">
                    <button type="button" class="btn btn-success" ng-click="editMarks()" >
                        Редактировать
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="cancel()">
                        Отмена
                    </button>
                </div>
            </div>
        </div>
    </div>

    <message>

    </message>

</div>

@*<script type="text/javascript">
    window.Years = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.Years))');
    window.Disciplines = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.Disciplines))');
    window.Groups = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.Groups))');
    window.Marks = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.Marks))');
    window.Worktypes = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.Worktypes))');
</script>*@

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-file-upload.min.js"></script>

<script src="~/Scripts/sw_scripts/Marks/jsExtension.js"></script>
<script src="~/Scripts/sw_scripts/Marks/app.js"></script>

<script src="~/Scripts/sw_scripts/Marks/Services/loadService.js"></script>
<script src="~/Scripts/sw_scripts/Marks/Services/StoreService.js"></script>
<script src="~/Scripts/sw_scripts/Marks/Services/selectService.js"></script>
<script src="~/Scripts/sw_scripts/Marks/Services/dataService.js"></script>
<script src="~/Scripts/sw_scripts/Marks/Services/messageService.js"></script>
<script src="~/Scripts/sw_scripts/Marks/Services/communicationService.js"></script>

<script src="~/Scripts/sw_scripts/Marks/Directives/messageDirective.js"></script>
<script src="~/Scripts/sw_scripts/Marks/Controllers/FilterController.js"></script>
<script src="~/Scripts/sw_scripts/Marks/Controllers/EditProjectController.js"></script>

