﻿<a href="#" ng-click="select($event)" class="list-group-item break-word ng-class: discipline.activity">
    <span ng-bind="discipline.Name"></span>
    <span class="badge" ng-show="discipline.IsCourseProject" data-toggle="tooltip" data-placement="bottom" title="Курсовой проект">К</span>
    <span class="badge" ng-show="discipline.IsAdmin" data-toggle="tooltip" data-placement="bottom" title="Вы являетесь лектором по этой дисциплине">Л</span>
</a> 