﻿<div class="modal fade" id="GroupCreateDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Создать группу
            </div>
            <div class="modal-body">
                <form role="form" id="createGroupForm">
                    <div class="form-group">
                        <label class="control-label modal-label text-center fullwidth-label"> Введите наименование группы </label>
                        <input type="text" class="form-control fullwidth-input" placeholder="Введите название группы" 
                               ng-model="createdGroup.Name" required="required" pattern="[a-zA-Zа-яА-Я]+-[0-9]+-[0-9]+" 
                               title="Введите данные в формате ПИ-14-3"/>
                    </div>

                    <div class="form-group" ng-show="createdGroup.Users.length > 0">
                        <label class="modal-label text-center fullwidth-label"> Выберите старосту </label>
                        <select class="form-control fullwidth-input" ng-model="createdGroup.CaptainName">
                            <option class="text-center" ng-repeat="user in createdGroup.Users">{{ user.FIO }}</option>
                        </select>
                    </div>

                    <input type="submit" class="hidden" />
                </form>
            </div>

            <div class="modal-footer text-right">
                <input type="button" class="btn btn-success" ng-click="createGroup()" value="Создать">

                <input type="button" class="btn btn-danger" ng-click="cancel()" value="Отмена">
            </div>
        </div>
    </div>
</div>
