﻿<div class="modal fade" id="GroupEditDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Сменить старосту.
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label class="control-label-paddings control-label fullwidth-label text-center"> Выберите нового старосту </label>
                        <select id="captainSelect" class="form-control fullwidth-input" ng-model="editedGroup.CaptainName">
                            <option class="text-center" ng-repeat="user in editedGroup.Users">{{ user.FIO }}</option>
                        </select>
                    </div>
                </form>
            </div>

            <div class="modal-footer text-right">
                <input type="button" class="btn btn-success" ng-click="edit()" value="Сменить">

                <input type="button" class="btn btn-danger" ng-click="hide()" value="Отмена">
            </div>
        </div>
    </div>
</div>
