﻿.project-header {
    padding : 0;
    min-height: 45px !important;
    padding: 5px;
    /*border-bottom: 1px solid black;
    border-bottom-color: ThreeDLightShadow;*/
    overflow: no-content;
}
.back-button {
    margin-right: 0 !important;
    max-height: 35px;
}
.no-padding {
    padding: 0;
}
.content-padding {
    padding-top : 3px;
}
.pos-right {
    float: right;
}

/*
    Angular animation
*/

.zero-height {
    min-height: 0;
}

/*.my-animation.ng-enter {
  /* standard transition code 
  transition: 1s linear all;
  opacity:0;
}
.my-animation.ng-enter-stagger {
  /* this will have a 100ms delay between each successive leave animation 
  transition-delay: 0.1s;

  /* As of 1.4.4, this must always be set: it signals ngAnimate
    to not accidentally inherit a delay property from another CSS class 
  transition-duration: 0s;
}
.my-animation.ng-enter.ng-enter-active {
  /* standard transition styles 
  opacity:1;
}*/

/*.list-show {
    transform: scaleX(1);
    width: inherit;
}

.list-hide {
    transform: scaleX(0);
    width: 0;
}

.rotate {
    transition: all 1s ease-in-out;
}*/


/*.project-animate.ng-add {
    animation: 2s appear;
}

.project-animate.ng-remove {
    animation: 1s disappear;
}

@keyframes appear {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes disappear {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}*/

/*.animate.ng-hide {
    -webkit-transition: all linear 5.5s;
    transition: all linear 5.5s;
    width: 100%;
}
.animate.ng-hide.ng-hide-active {
    width: 0;
    /*color: red;*/
} 

/*#themeList.ng-hide-add {
    -webkit-animation: 2.5s hide;
    animation: 2.5s hide;
}

@keyframes hide {

    0% {
        width: 100%;
        opacity: 0.5;
    }

    40% {
        width : 60%;
        opacity: 0.7;
    }

    100% {
        width: 0;
        opacity: 1;
    }
}
@-webkit-keyframes hide {
    0% {
        width: 100%;
        opacity: 0.5;
    }

    40% {
        width : 60%;
        opacity: 0.7;
    }

    100% {
        width: 0;
        opacity: 1;
    }
}*/*/

.fullwidth-label {
    width: 100%;
}