﻿/*media*/
@media (max-width: 768px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

@media (max-width: 567px) {
    .material-btn-group {
        float: left !important;
    }
}

/*selectors*/

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    height: 100%;
    position: relative;
}

body{
    margin: 0;
}

body {
    z-index: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

td {
    cursor: default;
}

table {
    background: white;
    border-radius: 6px;
    margin-bottom: 0 !important;
}

/*classes*/
.dl-horizontal dt {
    white-space: normal;
}

.span-title {
    vertical-align: middle;
    display: inline-block;
}


.bg-carousel {
    z-index: 1;
    height: 100%;
    width: 100%;
}

.bg-carousel-img {
    width: 100% !important;
    height: 100% !important;
}

.section-absolute {
    position: absolute;
    z-index: 2;
}

.my-navbar {
    width: 85%;
}

.my-nav-text {
    float: none !important;
    margin-bottom: -14px;
}

.carousel {
height: 300px;
margin-bottom: 50px;
}
.carousel-caption {
z-index: 10;
}
.carousel .item {
background-color: rgba(0, 0, 0, 0.8);
height: 300px;
}

.wrapper {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.footer {
    margin: 3% auto 0;
    min-width: 102%;
    height: 60px;
    position: relative;
}

.display-none {
    display: none !important;
}

.align-center {
    margin-left: auto;
    margin-right: auto;
}

.fixed-list {
    height: 161px;
    overflow: auto;
}

.my-jumbotron {
    font-size: 14px !important;
    font-weight: normal;
    padding: 1px!important;
}

.default-cursor {
    cursor: default;
}

.aside-toolbar {
    display: inline-block;
}

.aside-toolbar-form {
    margin-top: 3%;
    margin-bottom: 3%;
}

.position-relative {
    position: relative;
}

.area-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 9px;
    margin: 10px 0 10px;
    display: block;
}

.area-bordered {
    border-top: 1px solid #BCE8F1;
    border-bottom: 1px solid #BCE8F1;
}

.fullwidth-input {
    max-width: none !important;
}

.padding-sides-10 {
    padding-left: 10%;
    padding-right: 10%;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
    color: #3A87AD;
  background-color: #BCE8F1 !important;
  border-color: #BCE8F1 !important;
}

.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:hover .list-group-item-text {
    color: #333333;
}

.cursor-pointer {
    cursor: pointer;
}
.btn-radio-group {
    min-height: 50px;
    padding-bottom: 3%;
    padding-top: 3%;
}

/*bootstrap callout*/
.bs-callout {
padding: 20px;
margin: 20px 0;
border: 1px solid #eee;
border-left-width: 5px;
border-radius: 3px;
}
.bs-callout-danger {
border-left-color: #d9534f;
}
.bs-callout-warning {
border-left-color: #f0ad4e;
}
.bs-callout-info {
border-left-color: #5bc0de;
}

.bs-callout-success {
    border-left-color: #47A447;
}

.bs-callout-primary {
    
}

.bs-callout h4 {
margin-top: 0;
margin-bottom: 5px;
}

.bs-callout-success h4 {
    color: #47A447;
}

.bs-callout-success h5 {
    color: #47A447;
}

.bs-callout-danger h4 {
color: #d9534f;
}
.bs-callout-warning h4 {
color: #f0ad4e;
}
.bs-callout-info h4 {
color: #5bc0de;
}

.bs-callout h3 {
margin-top: 0;
margin-bottom: 5px;
}
.bs-callout-danger h3 {
color: #d9534f;
}
.bs-callout-warning h3 {
color: #f0ad4e;
}
.bs-callout-info h3 {
color: #5bc0de;
}

.bs-callout h5 {
margin-top: 0;
margin-bottom: 5px;
}
.bs-callout-danger h5 {
color: #d9534f;
}
.bs-callout-warning h5 {
color: #f0ad4e;
}
.bs-callout-info h5 {
color: #5bc0de;
}

.literature-word-wrap {
    word-wrap: break-word;
    word-break: keep-all;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear-both {
    clear: both;
}

.width-100 {
    width: 100%;
}

.material-btn-group {
    float: right;
}

.material-header {
    margin-bottom: 15px;
}

.h5-black-in-callout {
    color: #333;
}

.lecturers-p {
    border-bottom: 1px solid #eee;
    margin-top: 8px;
}

.lecturers-panel-margin-top {
    margin-top: 15px;
}

.small-fixed-list {
    height: 125px;
    overflow: auto;
}

.lecturer {
    height: 600px;
    overflow: auto;
}

.post {
    height: 42px;
    overflow: auto;
}

.black-text {
    color: #333333;
}

.panel-heading p {
    color: #555;
}

.reg-form {
    margin-top: 70px;
}

.register-div {
    width: 500px;
    margin: 40px auto 0 auto;
}

.register-dipper-div {
    width: 80%;
    margin: 0 auto 15px auto !important;
}

.reg-header {
    margin-top: 0 !important;
}

.register-btn {
    display: inline-block;
}

.width-50 {
    width: 50%;
}

.underlined {
    text-decoration: underline;
}

.lecturer-activated {
    border: 1px solid cadetblue;
    opacity: 1;
}

.lecturer-unactivated {
    opacity: .55;
}

.lecturer-well {
    z-index: 200;
    height: 710px;
    overflow: auto;
}

.lecturer-well:hover {
    border: 1.5px solid cadetblue;
    -webkit-transition: border 0.3s ease-in .1s;
    -moz-transition: border 0.3s ease-in .1s;
    -o-transition: border 0.3s ease-in .1s;
    transition: border 0.3s ease-in .1s;
}

.lecturer-unactivated:hover {
    opacity: .95;
    -webkit-transition: opacity 0.3s ease-in .1s;
    -moz-transition: opacity 0.3s ease-in .1s;
    -o-transition: opacity 0.3s ease-in .1s;
    transition: opacity 0.3s ease-in .1s;
}

.lecturer-well p {
    cursor: default;
}

.lecturer-well h4 {
    cursor: default;
}

.lecturer-well h5 {
    cursor: default;
}

.input-center {
    margin: 0 auto;
    margin-top: 8px;
}

.margin-top-5 {
    margin-top: 5px;
}

.modal-body-paddings {
    padding-top: 10px;
    padding-bottom: 2px;
}

.placeholder-danger::-webkit-input-placeholder {color:#c0392b;}
.placeholder-danger::-moz-placeholder          {color:#c0392b;}
.placeholder-danger:-moz-placeholder           {color:#c0392b;}
.placeholder-danger:-ms-input-placeholder      {color:#c0392b;}

.placeholder-default::-webkit-input-placeholder {color: grey;}
.placeholder-default:-moz-placeholder          {color:grey;}/* Firefox 19+ */
.placeholder-default:-moz-placeholder           {color:grey;}/* Firefox 18- */
.placeholder-default:-ms-input-placeholder      {color:grey;}

.affix {
  position: fixed;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    top: 50px;
}

.overflow-auto {
    word-wrap: break-word;
    word-break: normal;
}

.modal-btn{
    font-size: 12px;
}

.img-container {
    padding-left: 13%;
    padding-right: 10%;
    padding-bottom: 3%;
    padding-top: 3%;
}

.overflow-hidden {
    overflow: hidden;
}

.inline-block {
    display: inline-block;
}

.bg-selected-warning {
    background-color: rgb(251, 255, 52) !important;

    -webkit-transition: background-color 0.15s ease-in !important;
    -moz-transition: background-color 0.15s ease-in !important;
    -o-transition: background-color 0.15s ease-in !important;
    transition: background-color 0.15s ease-in !important;
}

/*.bg-selected-warning:hover {


}*/

.lit-item {
    
}

.lit-item:hover {
    background-color: rgba(188, 232, 241, 1);
    
    -webkit-transition: background-color 0.1s ease-in;
    -moz-transition: background-color 0.1s ease-in;
    -o-transition: background-color 0.1s ease-in;
    transition: background-color 0.1s ease-in;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.list-group-item.active .list-group-item-text {
    color: #333333!important;
}

.invisible{
    display: none !important;
}

.visible{
    display: block !important;
}

.width-200{
    width: 200px;
}

.width-80{
    width: 80px;
}

.file-label{
    text-align: left!important;
    padding-left: 10px;
    vertical-align: bottom;
}

.file-input{
    width: 80px;
    height: 20px;
}

.my-drop-zone {
    border: dotted 3px lightgray;
    width: 280px;
    margin: 0 auto 20px auto;
}

.modal-progress{
    width: 280px;
    margin: 0 auto;
}

.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

.a-disabled{
    opacity: .6;
    cursor: default;
}

.a-disabled:hover{
    color: #777 !important;
}

.a-disabled:focus{
    color: #777 !important;
}

.list-style-none-div{
}

.list-style-none-div > ul{
    list-style: none;
}

.a-center{
    display: block;
    margin: 10px auto;
}

.login-stuff{
    color: darkblue;
    font-style: oblique; 
}

.user-page-header{
    margin: 5px 0 15px 0;
    border-bottom: 1px solid #add;
}

.control-label-paddings{
    padding-top: 7px;
    padding-left: 0;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-top-25{
    margin-top: 25px;
}

.height-400{
    height: 400px;
}

.avatar-change-nav{
    position: absolute;
    bottom: 0px;
    opacity: .7;
    border-radius: 0 0 4px 4px;
    width: 100%;
    margin-bottom: 0;
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
}

.avatar-div{
    position: relative;
}

.offset-3{
    margin-left: 25%;
}

.margin-top-80px{
    margin-top: 80px;
}


.user-page-save{
    margin-right: 5%;
    margin-bottom: 10px;
}

.breadcrumb > li + li:before {
color: #cccccc;
content: "/";
padding: 0 5px;
}

.breadcrumb{
    margin-left: 15px;
    margin-bottom: 25px;
    margin-right: 15px;
}

.img-user-margin-bottom{
    margin-bottom: 0;
}

.img-user-profile{
    border-radius: 0 0 4px 4px;
}

.img-user-profile-btns{
    margin-left: 30%;
}

@media (max-width: 768px){
     .img-user-profile-btns {
        margin-left: 20%;   
    }
}

.img-user-profile-li{
    float: left !important;
}

.field-validation-error{
    margin-top: 8px;
    display: block;
    margin-left: 2px;
}

.body-half-cut{
    height: 50%;
}

.margin-bottom-0{
    margin-bottom: 0;
}

.modal-label{
    margin-top: 10px;
    margin-bottom: 5px;
    font-style: italic;
}

.lecturer-breadcrumb{
    margin-left: 0;
    margin-bottom: 10px;
    margin-right: 0;
    margin-top: -15px;
}

#ballsWaveG{
	position:relative;
	width:176px;
	height:41px;
	margin:auto;
}

.ballsWaveG{
	position:absolute;
	top: 10px;
	background-color:rgb(0,0,0);
	width:22px;
	height:22px;
	animation-name:ballsWaveG;
		-o-animation-name:ballsWaveG;
		-ms-animation-name:ballsWaveG;
		-webkit-animation-name:ballsWaveG;
		-moz-animation-name:ballsWaveG;
	animation-duration:2.08s;
		-o-animation-duration:2.08s;
		-ms-animation-duration:2.08s;
		-webkit-animation-duration:2.08s;
		-moz-animation-duration:2.08s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	border-radius:11px;
		-o-border-radius:11px;
		-ms-border-radius:11px;
		-webkit-border-radius:11px;
		-moz-border-radius:11px;
}

#ballsWaveG_1{
	left: 50px;
	animation-delay:0.83s;
		-o-animation-delay:0.83s;
		-ms-animation-delay:0.83s;
		-webkit-animation-delay:0.83s;
		-moz-animation-delay:0.83s;
}

#ballsWaveG_2{
	left:72px;
	animation-delay:1.04s;
		-o-animation-delay:1.04s;
		-ms-animation-delay:1.04s;
		-webkit-animation-delay:1.04s;
		-moz-animation-delay:1.04s;
}

#ballsWaveG_3{
	left:94px;
	animation-delay:1.25s;
		-o-animation-delay:1.25s;
		-ms-animation-delay:1.25s;
		-webkit-animation-delay:1.25s;
		-moz-animation-delay:1.25s;
}

#ballsWaveG_4{
	left:116px;
	animation-delay:1.46s;
		-o-animation-delay:1.46s;
		-ms-animation-delay:1.46s;
		-webkit-animation-delay:1.46s;
		-moz-animation-delay:1.46s;
}

#ballsWaveG_5{
	left:138px;
	animation-delay:1.66s;
		-o-animation-delay:1.66s;
		-ms-animation-delay:1.66s;
		-webkit-animation-delay:1.66s;
		-moz-animation-delay:1.66s;
}

#ballsWaveG_6{
	left:160px;
	animation-delay:1.87s;
		-o-animation-delay:1.87s;
		-ms-animation-delay:1.87s;
		-webkit-animation-delay:1.87s;
		-moz-animation-delay:1.87s;
}

#ballsWaveG_7{
	left:182px;
	animation-delay:2.08s;
		-o-animation-delay:2.08s;
		-ms-animation-delay:2.08s;
		-webkit-animation-delay:2.08s;
		-moz-animation-delay:2.08s;
}

#ballsWaveG_8{
	left:204px;
	animation-delay:2.29s;
		-o-animation-delay:2.29s;
		-ms-animation-delay:2.29s;
		-webkit-animation-delay:2.29s;
		-moz-animation-delay:2.29s;
}



@keyframes ballsWaveG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes ballsWaveG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes ballsWaveG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes ballsWaveG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes ballsWaveG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

.move-left {
    left : -250px;
    position: absolute;
    top: 10px;
}

.fix-width {
    max-width: 50px;
    width: 50px;
}

.consolidation-active {
    background-color: yellow;
}
    .consolidation-active:active {
        background-color: yellow !important;
    }
    .consolidation-active:hover {
        background-color: yellow !important;
    }

.marks-label {
    max-width: none !important;
    width: 100% !important;
}

.margin-top-minus-3px{
    margin-top: -3px;
}

.my-container{
    margin-left: 21px;
}

.config-label{
    margin-top: 8px;
}

.my-breadcrumbs{
    margin-left: 15px !important;
    margin-right: 15px !important;
    margin-bottom: 0 !important;
}

.margin-top-15{
    margin-top: 15px;
}

.width-280{
    width: 280px;
}

.margin-top-8px{
    margin-top: 8px;
}

.height-256px{
    height: 256px;
}

.height-215px{
    height: 215px;
}

.break-word{
    word-wrap: break-word;
}

.admin-lect-help-btn{
    margin-top: 10px;
    margin-right: -10px;
}

.about-margins{
    margin: 0 20px;
}

.about-p {
    text-indent: 15px;
}

.max-height-110 {
    max-height : 110px;
}

.aside-toolbar-course{
    margin-top: 5%;
    margin-bottom: 0;
}