﻿<div class="modal fade" id="GroupControlEditDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Редактирование группового контроля
            </div>
            <div class="modal-body">
                <form role="form" id="editControlForm">
                    <div class="form-group">
                        <label class="control-label control-label-paddings fullwidth-label text-center">
                            Выберите вид работы
                        </label>
                        <select class="form-control fullwidth-input" ng-model="editControl.WorkTypeName" id="groupControlEditSelect">
                            <option class="text-center" ng-repeat="workType in editControl.WorkTypes" ng-selected="workType.Name == CurrentControl.WorkType">{{ workType.Name }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label control-label-paddings fullwidth-label text-center">
                            Выберите группу
                        </label>
                        <select class="form-control fullwidth-input" ng-model="editControl.GroupNum">
                            <option class="text-center" ng-repeat="group in Groups">{{group.GroupId}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label control-label-paddings fullwidth-label text-center"> Введите тип контроля </label>
                        <input type="text" class="form-control fullwidth-input" required="required" ng-model="editControl.Type" 
                               value="{{editControl.Type}}" placeholder="Тип группового контроля" title="Требуется тип контроля"  />
                    </div>

                    <div class="form-group">
                        <label class="control-label control-label-paddings fullwidth-label text-center"> Введите дату контроля </label>
                        <input type="date" class="form-control fullwidth-input" required="required" ng-model="editControl.Date" 
                               value="2013-01-08" placeholder="Дата проведения контроля" title="Требуется дата проведения контроля"  />
                    </div>
                    <div class="form-group">
                        <label class="control-label control-label-paddings fullwidth-label text-center"> Введите место проведение контроля </label>
                        <input type="text" class="form-control fullwidth-input" required="required" ng-model="editControl.Place" 
                               value="{{editControl.Place}}" placeholder="Место проведения контроля"
                               title="Требуется место проведения контроля"  />
                    </div>
                    <input type="submit" class="hidden" />
                </form>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-success" ng-click="editCont()" value="Редактировать" />
                <input type="button" class="btn btn-danger" ng-click="cancelControl()" value="Отмена" />
            </div>
        </div>
    </div>
</div>
