﻿@model IEnumerable<NLM.WEB.Models.Lecturer.LecturersMainViewModel>

@{
    ViewBag.Title = "Преподавательский состав";
    Layout = "~/Views/Shared/_LecturerAdminLayout.cshtml";

    //UserDTO user = (UserDTO)Session["User"];
    //string type = user.Type;
}


<div id="lect-div">
    <ol class="breadcrumb lecturer-breadcrumb">
        <li class="active default-cursor pull-left">Преподавательский состав
        </li>
        <span class="pull-right">
            <button class="btn btn-link btn-xs" data-toggle="popover" data-trigger ="focus" title="Преподаватели" data-content="На этой странице вы можете ознакомиться со списком преподавателей, зарегистрированных на нашем ресурсе." data-placement="bottom">
                <span class="glyphicon glyphicon-question-sign">
                </span>
            </button>
        </span>
        <li class="clearfix">
        </li>
    </ol>
        <div class="row">
            @if (Model.Count() == 0)
            {
                <h3 class="text-center text-warning">Преподавательский состав пуст...</h3>
            }
            else
            {
                foreach (var lecturer in Model)
                {
                    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                        <div class="bs-callout bs-callout-info lecturer">
                            <h4 class="text-center page-header overflow-auto" id="lect-fio">@lecturer.User.FIO</h4>
                            <div class="row img-container text-center">
                                <img src="@lecturer.User.Image" class="img-thumbnail img-responsive inline-block" alt="Здесь должен быть аватар" />
                            </div>
                            <p class="lecturers-p" id="lect-log">Email: <span>@lecturer.User.Mail</span></p>
                            <p class="lecturers-p" id="lect-department">Кафедра: <span>@lecturer.Department</span></p>
                            <p class="lecturers-p" id="lect-post">Должность: <span>@lecturer.Post</span></p>
                            <p class="lecturers-p post" id="lect-spec">Специализация: @if (lecturer.Specialization == null)
                            {<span>не указана</span>} <span>@lecturer.Specialization</span></p>
                            <div class="row lecturers-panel-margin-top">
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <h5 class="text-center page-header h5-black-in-callout">Дисциплины</h5>
                                    @if (lecturer.Disciplines != null)
                                    {
                                        <ul class="list-group small-fixed-list margin-bottom-0">
                                            @foreach (var discipline in lecturer.Disciplines)
                                            {
                                                <li class="list-group-item default-cursor break-word">@discipline</li>
                                            }
                                        </ul>
                                    }
                                    else {
                                        <p class="text-center default-cursor">Пусто</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
        }
        </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")