﻿<div class="modal fade" id="MessageDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {{Message.Title}}
            </div>
            <div class="modal-body">
                {{Message.Text}}
            </div>

            <div class="modal-footer text-right">
                <button type="button" class="btn btn-success" ng-click="hideMessage()" data-dissmiss="modal"> Ок </button>
            </div>
        </div>
    </div>
</div>
