.form {
    padding: 10px 0;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    width: 100%;
}

.form__title {
    margin: 0 0 10px 0;
}

.form__title--icon {
    margin-left: 5px;
    color: #999999;
    font-size: 12px;
    cursor: pointer;
}

.form__input {
    box-sizing: border-box;
    padding: 7px 20px;
    width: 100%;
}

.form__input--fail {
    border-bottom-color: #e74c3c;
    background-color: #fff1f0;
}

.form__btn {
    box-sizing: border-box;
    cursor: pointer;
    padding: 7.6px 0;
    width: 100%;
}

input[type="button"].form__btn--fail {
    background-color: #eeeeee;
    color: #777777;
    opacity: .7;
    padding: 7px 0;
    border: 1px solid #dadada;
    cursor: not-allowed !important;
}

input[type="button"].form__btn--fail:hover {
    background-color: #eeeeee;
    color: #777777;
}

input[type="button"].form__btn--fail:focus {
    background-color: #eeeeee;
    color: #777777;
}

.box__input--fail {
    text-align: left;
    margin: 0;
    padding-left: 5px;
    font-size: 12px;
    color: #e74c3c;
}

#login--fail--md {
    display: block;
}

#login--fail-sm {
    display: none;
}

.input--fail--none {
    display: none;
}

.form__select {
    width: 100%;
    padding: 8px 20px;
}