.box__title {
    margin: 50px 0;
}

.box__title--h2 {
    margin: 0 0 10px 0;
    color: #333333;
    text-align: center;
}

.box__title--h4 {
    margin: 0;
    color: #999999;
    text-align: center;
}