.breadcrumbs {
    padding: 20px 0;
    border-bottom: 1px solid #dadada;
}

.breadcrumbs ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs ul li {
    display: inline;
}

.breadcrumbs__link {
    display: inline-block;
    height: 20px;
    padding: 0 10px 0 20px;
    background-color: #eeeeee;
    color: #999999;
    position: relative;
    margin-right: 5px;
    transition: all .2s linear;
}

.breadcrumbs__link::after {
    content: "";
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #eeeeee;
    position: absolute;
    right: -9px;
    top: 1px;
    transition: all .2s linear;
}

.breadcrumbs__link::before {
    content: "";
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #fafafa;
    position: absolute;
    left: 0;
    top: 0;
}

.breadcrumbs ul li:first-child .breadcrumbs__link {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.breadcrumbs ul li:first-child .breadcrumbs__link::before {
    display: none;
}

.breadcrumbs ul li:last-child .breadcrumbs__link {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.breadcrumbs ul li:last-child .breadcrumbs__link::after {
    display: none;
}
/*alternative bg color #006e8f or #333333*/
.breadcrumbs__link:hover {
    color: #ffffff;
    background-color: #006e8f;
    text-decoration: none;
}

.breadcrumbs__link:focus {
    color: #ffffff;
    background-color: #006e8f;
    text-decoration: none;
}

.breadcrumbs__link:link {
    color: #ffffff;
    background-color: #006e8f;
    text-decoration: none;
}

.breadcrumbs__link:hover:after{
    border-left-color: #006e8f;
}

.breadcrumbs__link:focus:after{
    border-left-color: #006e8f;
}

.breadcrumbs__link:link:after{
    border-left-color: #006e8f;
}