.box__input {
    padding: 0;
}

.box__input--btn {
    padding: 0 0 0 10px;
}

.discipline__box {
    margin: 20px 0;
}

.cl {
    content: "";
    display: table;
    clear: both;
}


.label__radio {
    cursor: pointer;
    margin-right: 5px;
    position: relative;
}

.label__radio:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-left: 5px;
    border: 1px solid #dadada;
}

.label__radio:before {
    content: "";
    display: none;
    width: 12px;
    height: 12px;
    border-radius: 3px;
    background-color: #333333;
    position: absolute;
    left: 13px;
    top: -3px;
}


.box__radio {
    display: none;
}

.box__radio:checked + .label__radio:before {
    display: inline-block;
}