.student__empty {
  font-size: 1.5em;
  text-align: center;
  color: #999999;
  width: 100%;
  height: 50px;
  position: relative;
}

.student__empty::after {
  content: "Здесь будет список студентов";
}

.cl {
  content: "";
  display: table;
  clear: both;
}

.bread {
  padding: 10px 0;
  margin: 10px 0;
  border-bottom: 1px solid #eee;
  color: #666;
}

.bread__link {
  color: #666;
  text-decoration: underline;
}

.bread__link:hover {
  color: #999;
}

.students {
    margin-top: 20px;
}

.student {
  margin-bottom: 30px;
}

.student:nth-child(3n) {
  margin-right: 0;
}

.student__box {
  padding: 10px;
}

.student__box--name {
  background-color: #333;
  color: #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.student__box--user {
  background-color: #eee;
  color: #333;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.box__name--icon {
  margin-left: 5px;
}

.student__text {
  margin: 0;
}

.box__name--text {
  padding-right: 40px;
}

.student__nav {
  position: absolute;
  top: 10px;
  right: 25px;
}

.student__btn {
  cursor: pointer;
  transition: color .2s linear;
  margin-right: 10px;
  color: #8e8e8e;
}

.student__btn:last-child {
  margin-right: 0;
}

.student__btn:hover {
  color: #fff;
}

.box__input {
  padding: 0;
}

.box__input--login {
  margin-top: 10px;
  padding: 0 5px 0 0;
}

.box__input--email {
  margin-top: 10px;
  padding: 0 0 0 5px;
}

.box__input--btn {
  padding: 0 0 0 10px;
}

/*========media=========*/
@media screen and (max-width: 768px) {

  .student {
    margin-bottom: 20px;
  }

  .box__input--login {
    padding: 0;
  }
  .box__input--email {
    padding: 0;
  }

  #login--fail--md {
    display: none;
  }

  #login--fail-sm {
    display: block;
  }
}
