﻿<a href="#" ng-click="select($event)" class="list-group-item break-word ng-class: discipline.activity">
    <span ng-bind="discipline.Name"></span>
    <span class="badge" data-toggle="tooltip" data-placement="left" title="Курсовой проект" ng-show="discipline.IsCourseProject">К</span>
</a>